In [1]:
import re
import geopandas as gpd

In [2]:
import plotly_express as px
import dash
from dash import dcc
from dash import html

In [3]:
# Load your geodatabase
gdb_path = "../data/Asam_data_download.gdb"

df = gpd.read_file(gdb_path)

In [4]:
df.head(2)

,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,year,yeartxt,...,nga_disseminationadditional,authority_l,navregion,entrydate,editor,authority_email,authority_phone,source_date,globalid,geometry
0,1990-9,1990-06-03 00:00:00+00:00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,1990,1990,...,None,2.0,NAVAREA IV,1990-07-12 00:00:00+00:00,3596,None,None,NaT,{90696A99-CA54-47EE-A881-45950BA39952},POINT (-75.13333 21.93333)
1,1990-10,1990-03-20 00:00:00+00:00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,1990,1990,...,None,2.0,HYDROPAC,1990-07-12 00:00:00+00:00,4144,None,None,NaT,{EC54E0FF-F01C-4B4D-9914-7A794F6BFC88},POINT (108 3)

In [5]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 9182 entries, 0 to 9181
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   reference                    9182 non-null   object
 1   dateofocc                    9182 non-null   datetime64[ms, UTC]
 2   subreg                       9182 non-null   object
 3   hostility_d                  8353 non-null   object
 4   victim_d                     8767 non-null   object
 5   description                  9176 non-null   object
 6   hostilitytype_l              9157 non-null   float64
 7   victim_l                     9155 non-null   float64
 8   year                         9182 non-null   int16
 9   yeartxt                      9182 non-null   object
 10  deaths                       9182 non-null   int16
 11  month                        9182 non-null   object
 12  monthtxt                     9182 non-null   object
 13  monthnum                     9182 non-null   int16
 14  lib_number                   9170 non-null   object
 15  authority_d                  7841 non-null   object
 16  navarea                      9179 non-null   object
 17  nga_releasability            9182 non-null   object
 18  nga_classification           9182 non-null   object
 19  nga_dissemination            9182 non-null   object
 20  nga_disseminationadditional  0 non-null      object
 21  authority_l                  9159 non-null   float64
 22  navregion                    9177 non-null   object
 23  entrydate                    9182 non-null   datetime64[ms, UTC]
 24  editor                       9182 non-null   object
 25  authority_email              7214 non-null   object
 26  authority_phone              7096 non-null   object
 27  source_date                  1344 non-null   datetime64[ms, UTC]
 28  globalid                     9182 non-null   object
 29  geometry                     9182 non-null   geometry
dtypes: datetime64[ms, UTC](3), float64(3), geometry(1), int16(3), object(20)
memory usage: 1.9+ MB

In [13]:
what_am_I_doing_with_this = list(df.select_dtypes(['object']).columns)

In [8]:
drop_cols = ['nga_releasability', 'nga_classification', 'nga_dissemination', 'nga_disseminationadditional',
                'navregion', 'editor', 'authority_email', 'authority_phone', 'globalid']

In [9]:
catagorical_cols = ['subreg', 'hostility_d', 'victim_d', 'hostilitytype_l', 'victim_l', 'authority_d', 'navarea', 'authority_l']

In [10]:
df

,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,year,yeartxt,...,nga_disseminationadditional,authority_l,navregion,entrydate,editor,authority_email,authority_phone,source_date,globalid,geometry
0,1990-9,1990-06-03 00:00:00+00:00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,1990,1990,...,None,2.0,NAVAREA IV,1990-07-12 00:00:00+00:00,3596,None,None,NaT,{90696A99-CA54-47EE-A881-45950BA39952},POINT (-75.13333 21.93333)
1,1990-10,1990-03-20 00:00:00+00:00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,1990,1990,...,None,2.0,HYDROPAC,1990-07-12 00:00:00+00:00,4144,None,None,NaT,{EC54E0FF-F01C-4B4D-9914-7A794F6BFC88},POINT (108 3)
2,1990-11,1990-03-20 00:00:00+00:00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,1990,1990,...,None,2.0,HYDROPAC,1990-07-12 00:00:00+00:00,3703,None,None,NaT,{EA340298-971B-4948-97A9-FBB7DD11CDD2},POINT (90 -1)
3,1989-16,1989-01-01 00:00:00+00:00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,1989,1989,...,None,4.0,HYDROPAC,1989-08-31 00:00:00+00:00,3703,None,None,NaT,{5175409B-8939-42F8-A3E6-0FB837AE4935},POINT (42 14)
4,1989-17,1989-09-23 00:00:00+00:00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,1989,1989,...,None,10.0,HYDROPAC,1989-10-02 00:00:00+00:00,3703,None,None,NaT,{62030092-38EC-4B1C-B712-01B159039F06},POINT (80.3 13.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9177,2021-160,2021-02-09 13:54:58+00:00,57,None,None,"NIGERIA: On 9 February, pirates in speedboats ...",4.0,12.0,2021,2021,...,None,9.0,HYDROLANT,2021-07-23 13:58:14+00:00,1398693597,None,None,2021-02-24 13:55:06+00:00,{1B05CA6C-4D6C-46DE-BC74-D58736B00A95},POINT (6.2608 4.3748)
9178,2023-131,2023-07-23 22:20:29+00:00,71,None,Barge under tow by a tugboat,"MALAYSIA: On 23 July at 2220 local time, four ...",11.0,2.0,2023,2023,...,None,9.0,HYDROPAC,2023-09-08 12:47:38+00:00,1398693597,None,None,2023-07-26 12:45:50+00:00,{07493774-A3F6-4F15-B26B-7243E1F1F42D},POINT (104.16667 1.3)
9179,2024-52,2023-12-30 10:58:43+00:00,61,None,Fishing dhow AL SAQAR,"SOMALIA: On 30 December at 1058 UTC, the fishi...",7.0,4.0,2023,2023,...,None,9.0,HYDROPAC,2024-02-01 12:35:28+00:00,1398693597,None,None,2024-01-03 12:34:09+00:00,{717D4534-4E0B-4576-B700-3B91F3DC3117},POINT (51.29941 10.52682)
9180,2020-188,2020-01-17 13:39:03+00:00,57,Two robbers attempted boarding vessel,Tanker at anchor,"On 17 January, robbers in a small boat approac...",9.0,1.0,2020,2020,...,None,9.0,HYDROLANT,2020-05-13 13:13:10+00:00,1398693597,None,None,2020-02-13 13:39:00+00:00,{4FC08021-7CA4-4ECB-B45D-F4239887C139},POINT (3.196 6.315)
9181,2020-171,2019-12-22 15:51:04+00:00,71,Five armed robbers,Bulk carrier underway,Singapore Straits. Five persons armed with kn...,1.0,3.0,2019,2019,...,None,0.0,HYDROPAC,2020-05-04 14:53:27+00:00,1398693597,None,None,2019-12-28 15:51:21+00:00,{1971D218-C25E-48C1-A721-EDC364E6432A},POINT (104.11683 1.2595)

In [14]:
#df.info()

In [10]:
cols = ['subreg', 'hostility_d', 'victim_d', 'hostilitytype_l', 'victim_l', 'authority_d', 'navarea', 'authority_l']


def all_uniques_in_cols(df, cols=None):
    '''
    use: lists all the unique values for selected columns. Default is all columns
    input: dataframe, optional list of columns
    output: formatted output of all the unique values in the dataframe
    '''
    if cols is None:
        cols = df.columns.to_list()
    
    for col in cols:
        print(f"""There are {df[col].nunique()} unique values for {col}: 
              {df[col].unique()}
              """)

# Example usage
# all_uniques_in_all_cols(df) 
# all_uniques_in_all_cols(df, ['subreg','navregion'])

In [12]:
all_uniques_in_cols(df, cols)

There are 40 unique values for subreg:
              ['26' '71' '61' '62' '63' '24' '22' '92' '91' '93' '53' '57' '28' '25'
 '56' '51' '94' '52' '96' '72' '54' '21' '97' '73' '95' '55' '74' '37'
 '11' '12' '81' '82' '83' '44' '23' '36' '27' '18' '13' '35']

There are 528 unique values for hostility_d:
              ['CUBAN GUNBOAT' 'PIRATES' 'PEOPLES DEMOCRATIC REPUBLIC OF YEMEN'
 'MOGADISHU REBELS' 'PIRATE' 'ASSAILANTS' 'THIEVES' 'STOWAWAYS' 'REBELS'
 'Pirates' 'Robbers' 'PIRATESS' 'UNKNOWN  TERRORISTS' 'SYRIA' 'UNKNOWN'
 'SYRIAN GUNBOATS' 'PIRATES/THIEVES' 'HIJACKERS' 'INTRUDERS' 'THUGS'
 'assailants' 'N/A' 'PIRATES, ARMED MEN' 'MOROCCAN NAVAL FORCES'
 'KAREN PIRATES' 'BANDITS' 'CHINESE WARSHIP' 'pirates' 'militiamen'
 'GUINEA-BISSAU GOVERNMENT FORCES' 'LTTE TERRORISTS'
 'CHINESE NAVY VESSEL NO. 162' 'apparent chinese customs officials'
 'NIGERIAN MILITARY FORCES' 'CHINESE BORDER VESSEL' 'Assailants'
 'PIRATES (PEOPLES REPUBLIC OF CHINA)' 'UNKNOWN PEOPLE'
 'UNIDENTIFIED VESSEL' 'TERRORIST' 'Algerian Patrol Vessel'
 'SOMALIAN AUTHORITIES' 'ALGERIAN COASTAL PATROL' 'unknown' 'VIETNAMESE'
 'SOMALI PATRIOTIC MOVEMENT (SPM)' 'PIRATE ACTIVITY'
 'TAMIL SEPARATIST REBELS' 'Unidentified Gun Boats'
 'CHINESE MILITARY FORCES' 'CHINESE AUTHORITIES' 'HAITIAN AUTHORITIES'
 'AUTHORITIES IN JACMEL, HAITI' 'ARMED PIRATES' 'BURMESE PIRATES'
 'VIETNAMESE SOLDIERS' 'LIBERIAN REBEL SHIPS' 'IRAQ' 'EPLF'
 'ERITREAN PEOPLES LIBERATION FRONT' 'SOMALIA NATIONAL MOVEMENT REBELS'
 'SUICIDE ATTACKER' 'FISHING BOAT' 'LTTE ARTILLERY' 'ATTACKERS'
 'NAVY VESSEL' 'SMALL CRAFT' 'BOAT' 'SPEEDBOATS' 'BOARDERS' 'SPEED BOAT'
 'MERCHANT VESSEL' 'MILF REBELS' 'ROBBERS' 'THIEF' 'GUERRILLAS' 'GUNBOAT'
 'MOTOR BOATS' 'FISHING BOATS' 'SHIPYARD WORKERS, VALLETTA MALTA'
 'UNIDENTIFIED TERRORISTS' 'SUSPICIOUS CRAFT' 'MILITANT YOUTHS'
 'SPEEDBOAT' 'CHRISTIAN LEBANESE FORCES' 'IRAN' 'SUSPECTED TERRORISTS'
 'GANG MEMBERS' 'PURSUERS' 'YEMENI GOVERNMENT' 'BOARDER'
 'CHINESE VILLAGERS' None 'UNIDENTIFIED PIRATES' 'LTTE REBELS' 'STALKER'
 'PIRATES (ROBBERS)' 'P0LISARIO FRONT' 'LTTE REBEL FORCES' 'ETHIOPIA'
 'RIVAL GANG' 'KIDNAPPERS' 'SUICIDE BOAT ATTACK' 'ALLEGED POLISARIO FRONT'
 'POLISARIO FRONT' 'POLISARIO FRONT GUERRILLAS' 'EQUATORIAL GUINEA'
 'LTTE SEA TIGERS' 'SPEED BOATS' 'SAHARAN GUERRILLAS' 'PATROL VESSEL'
 'UNIDENTIFIED GUNBOAT' 'TURKISH NAVAL FORCES' 'TUNISIA' 'KUWAITI GUNBOAT'
 'NORTH KOREA' 'SABOTEURS' 'GREENPEACE ACTIVISTS' 'GUNMEN' 'INTRUDER'
 'MALDIVIAN AUTHORITIES' 'PIRATES / MOSLEM REBELS' 'IRANIAN NAVAL FORCES'
 'PROTESTERS' 'PATROL BOAT' 'IRANIAN NAVY' 'TERRORISTS'
 'VIETNAMESE PATROL BOATS' 'ACTIVISTS' 'HIJACKER' 'MILITANTS'
 'PURSUING BOAT' 'Pirates or Narcotics Smugglers' 'SEPARIST REBELS'
 'SRI LANKAN TAMIL SEPARATISTS' 'RIGHT-WING EXTREMISTS'
 'YUGOSLAV MILITARY GUNBOAT' 'CHRISTIANS' 'FREE ACEH MOVEMENT'
 'FARC GUERRILLAS' 'NIGERIAN TRIBAL YOUTH GANGS' 'NIGERIAN NATIONALS'
 'KAREN REBELS' 'YUGOSLAV NAVY' 'GUADALCANAL MILITANTS'
 'LETUGBENE COMMUNITY' 'SMALL BOATS' 'VANDALS' 'GUNMAN' 'TUG BOAT'
 'UNSPECIFIED' 'PIRTATES' 'SUSPICIOUS APPROACH' 'NAVAL VESSEL' 'PIERATES'
 'SUSPCIOUS APPROACH' 'SIUSPICIOUS APPROACH' 'PIRATERS'
 'POSSIBLE TERRORISTS' 'SUSPICIOPUS APPROACH' 'PRATES' 'PRIATES'
 '24-APR-2002' 'SUSPICICIOUS APPROACH' 'NAVAL PERSONNEL' 'MILITIAMEN'
 'SUSPICOUS APPROACH' 'SHORESIDE PIRATES' 'SUS[ICIOUS APPROACH'
 'PIRATES / KIDNAPPING' 'UNIDENTIFIED ATTACKER' 'UNIDENTIFIED ATTACKERS'
 'suspicous approach' 'Suspicious Approach' 'Unknown' 'Pirate Hijacking'
 'Pirate Attack' 'Pirate Boarding' 'Attempted Boarding'
 'Suspected Pirates' 'Pirate attack' 'Two white speedboats'
 'Suspected suicide cadres' 'MUTINY' 'Suspicious speedboats'
 'Four suspicious speedboats' 'suspicious vessel' 'IMMIGRANTS'
 'SUSPICUIOUS APPROACH' 'Four speedboats' 'Small speedboats' 'Three boats'
 'SUSPIPICIOUS APPROACH' 'SUSPECTED PIRATE' 'PIRACY' 'PIRATE THEFT'
 'PIRATE ATTACK' 'ATTEMPTED BOARDING' 'PIRATE HIJACKING'
 'SUSPICIOUS APPRAOCH' 'PIRATES ATTACK' 'MILITANT ATTACK'
 'Terrorist Attack' 'LTTE' 'YACHT' 'SRI LANKAN NAVY' 'PIRATE BOARDING'
 'Pirate Kidnapping' ' SUSPICIOUS APPROACH' 'SUSPECTED MILITANTS'
 'Militants' 'Suspisious Approach' 'Hijacking' 'THREE PIRATES'
 'TWO WHITE SPEED BOATS' 'WHITE CRAFT' 'Pirate Robbery' 'TWO SPEED BOATS'
 'UNKNOWN BOAT' 'WHITE BOAT' 'TWO BLUE SKIFFS' 'TWO PIRATES'
 'Somalian Pirates' 'TWO BOATS' 'SUSPICIOUS BOAT' 'TWO SPEEDBOATS'
 'SIX OR SEVEN SPEED BOATS' 'WOODEN SPEED BOAT' 'SPPEDBOAT'
 'SUSPICIOUS BOATS' 'SUSPICIOUS VESSEL' 'BLUE SPEEDBOAT'
 'GREEN AND WHITE WOODEN BOAT' '25 SPEEDBOATS' 'ONE PIRATE'
 'THREE WHITE SPEEDBOATS' 'TUNA BOAT' '15 PIRATES' 'NINE SMALL BOATS'
 'THREE SPEED BOATS' 'RED SPEED BOATS' 'THREE SPEEDBOATS'
 'FOUR SPEEDBOATS' 'FOUR BOATS' 'Yemeni Coast Guard' 'CHINESE FISHERMAN'
 'Five pirates' 'Sixteen Pirates' 'LTTE PIRATES' 'FOUR PIRATES'
 'EIGHT ARMED PIRATES' 'SEVEN PIRATES' 'Skiff' 'Speed Boats'
 'Four Speed Boats' 'Skiffs' 'Unknown Vessel' 'Ten Pirates'
 'Three Pirates' 'White Skiff' 'Two White Skiffs' 'Three Speed Boats'
 'Suspicious boat' 'Small boat with armed pirates' 'Fly boat'
 'Five Pirates' 'Pirate' 'Four Pirates' 'Seven Pirates'
 'Three small vessels' 'Three speedboats' 'Six pirates'
 'Five or six small boats' 'MILITANTS/PIRATES' 'FIVE PIRATES'
 'Suspicious craft' 'ROBBER' 'Suspicious Craft' 'ROBERS'
 'SUSPICIOUS CRAFTS' 'robbers' 'SUSPISIOUC CRAFT' 'robber' 'gunboat'
 'two skiffs' 'Hijackers' 'Three skiffs' 'SUSPECIOUS CRAFT' 'Gunboats'
 'Unknown boarder' 'Armed robebrs' 'Robber' 'Gunmen' 'Robber(s)'
 'Boarders' 'Two skiffs and a dhow' 'Robbers on fishing boats'
 'Suspicious approach' 'Roobbers' 'Armed boarders' 'Bandits' 'Kidnappers'
 'Suspicious Vessel' 'Intruders' 'STOWAWAY' 'Suspicous Approach'
 'Military' 'Sailing Vessel' 'ATTACKER' 'Vessel' 'Stowaway' 'Robbres'
 'Robbbers' 'POACHERS' 'Sucpicious Approach' 'Mothership Activity'
 'ROBBERD' 'Coast Guard' 'suspicious approach' 'Pirate Assault' 'Robbery'
 'KIDNAPPER' 'ARMED ROBBERS' 'Armed Pirates'
 'skiff with 8-10 individuals approached' 'ROBBERY' 'Military activity'
 'Boarding and attempted robbery' 'Robbers boarded cargo ship'
 'projectile passed over deck of vessel' 'Drone approach' 'Boarding'
 'Drone attack' 'Explosion nearby' 'STOW AWAY' 'ARMED ROBBERY'
 'Eight robbers attempted boarding'
 'Two anti-ship ballistic missiles fired' 'Military operations'
 'Armed robbers boarding' 'Boarded by five robbers' 'Vessel fired upon'
 'Pirate groups spotted' 'Suspicious group onboard a trawler'
 'Boarding by robbers' 'Robbers with guns boarded berthed tanker'
 'Vessel struck by anti-ship ballistic missile'
 'Anti-ship ballistic missile (ASBM) launched' 'Drone and missile attack'
 'Protesting' 'Anti-ship cruise missile' 'drug smuggling'
 'Two anti-ship ballistic missile attacks' 'Four armed robbers'
 'Robbers boarded merchant vessel' 'Missile attack'
 'Robbery and kidnapping' 'Boarding vessel' 'RUSSIAN WARSHIP' 'AMERBER II'
 'UAV' 'Single robber boarded anchored research vessel'
 'Unauthorized person in the engine room' 'Unauthorized person boarded'
 'Suspicious activity' 'Anti-ship ballistic missiles'
 'Anti-ship ballistic missile fired' 'Two drone explosions'
 'Attempted robbery' 'Four persons kidnapped'
 'Unauthorized persons onboard vessel' 'Vessel approached and fired upon'
 'Vessel fired on from shore' 'Hijacking and kidnapping'
 'Ballistic missile' 'UAV attack' 'Robbers boarded a tanker' 'robbery'
 'BOARDED BY ARMED ROBBERS' 'Five robbers boarded vessel'
 'Military Activity' 'Boarding with injury' 'Seizing vessel'
 'Duty oiler taken hostage by five armed robbers'
 'Three robbers boarded bulk carrier' 'Robbers boarded tanker'
 'Robbers boarded anchored tanker' 'UAV observed'
 'Nine crew members kidnapped' 'Anti-ship missiles' 'Missile fired'
 'Antiship ballistic missile (ASBM)' 'KIdnapped two fishermen'
 'Attempted boarding' 'Four robbers armed with knives' 'Ship fired upon'
 'Robbery, kidnapping, killing' 'GPS and AIS Disruption'
 'Missile fired at vessel' 'explosion' 'Missile impact close to vessel'
 'Captain kidnapped' 'Robbers boarded sailing yacht'
 'pirates armed with rifles boarded' 'Armed robbers boarded vessel'
 'Robbers boarded a container ship' 'UAV launched'
 'Ordered to alter course' 'Armed men in a speedboat'
 'detained by the Iranian Revolutionary Guard Corps'
 'Fired anti-ship cruise missile' 'Four robbers boarded vessel'
 'Vessel hit by anti-ship ballistic missile'
 'Armed robbery with one death' 'Missile impact nearby'
 'Tugboats hit by shelling' 'Unmanned aerial vehicles fired at vessel'
 'Seven individuals attempted boarding' 'Three robbers boarded vessel'
 'Hong Kong-flagged container ship MOUNT BUTLER' 'Attacked and fired upon'
 'EXPLOSION' 'Struck by drone' 'HAPPY LADY' 'Shots fired at vessel'
 'Three armed robbers' 'Report of drone approach'
 'Anti-Ship Ballistic Missile' 'Armed perpetrators on board for five days'
 'Drone activity and explosion' 'Property stolen'
 'Boarding and stabbing of Master' 'Vessel struck by UAV'
 'Two fishermen kidnapped' 'Three robbers boarded tanker'
 'Struck by airborne object' 'Missile activity'
 'One crew member injured in attack' 'Boarding with one injury' 'Protest'
 'Robbers boarded drifting fishing boat'
 'Explosive unmanned surface vehicle (USV)'
 'Vessel boarded and items stolen' 'Boarding - attempted robbery'
 'UAV approach' 'Two boats with 24 passengers hijacked'
 'Missiles near area' 'Armed persons in a skiff fired upon a tanker'
 'Attack resulting in death' 'Three robbers armed with knives'
 'Robbers boarded ship' 'Missiles'
 'Approach by three skiffs and a mothership' 'Armed persons boarding'
 'Pirates attacked a tug boat' 'Anti-ship ballistic missile'
 'Three crew members kidnapped' 'Missiles fired' 'assault' 'THEIFT'
 'Robbers boarded bulk carrier' 'Approached by skiff'
 'Antiship ballistic missiles' 'Explosions nearby' 'UAVs' 'USV attack'
 'Fired upon vessel' 'Gunmen firing at vessel' 'Armed robbery'
 'Explosion near vessel' 'Five robbers boarded bulk carrier'
 'Robbers boarded anchored vessel' 'Robbery and crew injuries'
 'Includes hijacking' 'Five Armed robbers' 'ASBM'
 'Robbers boarded a barge' 'Missile impact' 'Attacked and boarded'
 'BOARDING' 'Threatening the crew at gunpoint' 'Vessel struck by missile'
 'Four UAVs observed' 'Seven UAVs shot down over the Red Sea'
 'pirates in skiff fired upon vessel' 'Two High-speed boats'
 'Vessels seized by Houthi militia' 'Missile firing'
 'Five robbers in a wooden boat attempted to board'
 'Robbery with hijacking and kidnapping' 'Five robbers boarded tanker'
 'Possible Pirate Action Group' 'Four robbers boarded chemical tanker'
 'Vessel struck by object' 'Two robbers boarded anchored tanker'
 'Robbers armed with knives' 'Catamaran stolen' 'Robbers aboard vessel'
 'Ten robbers armed with knives'
 'Two anti-ship ballistic missiles (ASBMs)' 'Ten individuals boarded'
 'Robbery and abduction' 'UAV activity' 'DRUG SMUGGLING'
 'UNAUTHORISED PERSONS ENTERED THE ENGINE ROOM'
 'Five robbers boarded ship' 'Two missiles fired at vessel'
 'Shots fired at rescue ship' 'Claiming to be with Yemeni Navy'
 'Uncrewed aerial system (UAS) activity'
 'Approached by fishing boat with four armed men'
 'Armed robbery with fire-fight' 'Boarding by three robbers' 'bOARDING'
 'Possible drone strike' 'Vessel stolen' 'Attacked three passenger boats'
 'Unmanned Aerial Vehicle (UAV)' 'Seven people in Pump Boats'
 'Four robbers with long knives' 'Vessel struck by two ASBMs'
 'UNAUTHORIZED PERSON' 'Kidnapping resulting in one death'
 'Missile strike resulting in death' 'Three separate reports'
 'Five armed robber boarded bulk carrier' 'Robbery involving hostage'
 'Two robbers attempted boarding vessel' 'Five armed robbers']

There are 1932 unique values for victim_d:
              ['BELESBAT QUEEN' 'RO/RO SEA DRAGON' 'RO/RO SUNRISE' ...
 'Switzerland-flagged passenger ship OLYMPIA' 'QUEEN OF THE NETHERLANDS'
 'Fishing dhow AL SAQAR']

There are 10 unique values for hostilitytype_l:
              [ 2.  1.  6.  5.  4.  3. nan 11.  9.  7. 10.]

There are 13 unique values for victim_l:
              [11.  3. 13.  5.  9.  8.  4. 10. 12. nan  7.  2.  6.  1.]

There are 770 unique values for authority_d:
              ['LLOYDS 19 JUN 90/ MCNA APH' 'LLOYDS 1MAY 90/ MCNM APH'
 'HYDROPAC 181/89/MCNA 8/31/89' 'WATERMAN STEAMSHIP CORPORATION'
 'THE REPUBLIC OF LIBERIA /MCNA' 'SOMALI NATIONAL MOVEMENT (SNM)'
 'MARAD/ MCNA 122189' 'LYKES BROS. STEAMSHIP/MCNA'
 'LLOYDS 227#2 07/18/89 MCNA/8/89' 'ONI MSG DATED 262034Z NOV97'
 'ONI MSG DATED 250305Z OCT 97' 'ONI MSG DATED 250305Z OCT 97.'
 'ONI MSG DATED 072147Z NOV 97' 'ONI MSG DATED 072147 NOV 97'
 'ONI MSG DATED 032227Z SEP 97' "ONI MSG 261725Z NOV 97/LLOYD'S 11/13/98"
 'ONI MSG DATED 292012Z AUG 97' 'ONI MSG DATED 221833Z SEP 97'
 'ONI MSG 131109Z OCT 95' "ONI MSG 181815Z AUG 95//LLOYD'S 08/12/95"
 "ONI MSG 081815Z AUG 95//LLOYD'S 08/12/95"
 "ONI MSG 011817Z SEP 95//LLOYD'S 08/26/95" 'ONI MSG 081453Z SEP 95'
 'ONI MSG 151429Z SEP 95' 'ONI MSG 221429Z SEP 95//271606Z OCT 95' 'BIMCO'
 'Karl Koons' 'Duty Watch Officer' 'K.TOKARSKI/MARAD/202-366-2636'
 'LLOYDS AUG 6 1994' 'LLOYDS 22 AUG 94' 'LLOYDS AUG 17 1994'
 'LLOYDS 19 AUG 94' 'LLOYDS 24 AUG 94' 'JAPANESE SHIPOWNERS ASSOCIATION'
 'JOHANNESBURG DOMESTIC SERVICE/MCNA/08/89'
 'LLOYDS VOL. 227#3 07/25/89/MCNA/08/89' 'MCNA 8/89'
 'PAC 1299/84(93)MCNA/8/89' 'LLOYDS VOL. 227#2 08/25//25 MCNA/08/89'
 'LLOYDS 15 MAY, 1978 MCNA/8/89' 'K.TOKARSKI/MARAD/366-2636'
 'DEP. OF STATE 181425Z/8/88 MCNA/8/89' 'MCNA/8/89'
 'ONI MSG DATED 130056Z SEP 97' 'ONI MSG DATED 172024Z'
 'ONI MSG DATED 011338Z AUG 97' "ONI MSG 131513Z JUN 95//LLOYD'S 06/02/95"
 "ONI MSG 161300Z JUN 95//LLOYD'S 06/14/95"
 'ONI MSG 301300Z JUN 95//032217Z AUG 95' 'ONI MSG 301300Z JUN 95'
 'ONI MSG 152300Z JUN 95' "ONI MSG 071518Z JUL 95//LLOYD'S 07/04/95"
 "LLOYD'S LIST 07/07/95" 'ONI MSG 211515Z JUL 95'
 "ONI MSG 231837Z AUG 95//LLOYD'S 08/23/95" 'ONI MSG 081907Z AUG 95'
 'LLOYDS 23 AUG 94' 'bimco' 'LLOYDS SEP 2, 1994'
 'WASHINGTON POST 08 JUL 94' 'LLOYDS 28 MAR 94' 'M/V STELLA LYKES'
 'FBIS 090947Z APR' 'INTL REGIST RESTON' 'LLOYDS 21 APR 94'
 '27 APR 94 LLOYDS' 'LLOYDS MAY 10 94' 'LLOYDS MAY 18 1994'
 'In Force Warnings 26/85' 'HLANT 231/80(51)' 'ONI MSG 192200Z MAY 1999'
 'ONI MSG DATED 221357Z AUG 97' 'ONI MSG DATED 172024Z JUL 97'
 'ONI MSG DATED 261945Z JUN 97' 'ONI MSG DATED 031412Z JUL 97'
 'ONI MSG 131513Z JUN 95' 'ONI MSG 022119Z MAR 95'
 "ONI MSG 051931Z MAY/LLOYD'S 4/27/95"
 "ONI MSG 051931Z MAY/LLOYD'S 5/5/95" "ONI MSG 051931Z MAY/LLOYD'S 5/2/95"
 'ONI MSG 121636Z MAY 95' "LLOYD'S LIST 5/10/95" 'ONI MSG 162138Z MAY 95'
 'ONI MSG 091454Z MAR 95' 'ONI MSG 251537Z MAY 95' "LLOYD'S LIST 06/07/95"
 'LLOYDS MAY 24 1994' 'LLOYDS MAY 27 1994' 'K.TOKARSKI/MARAD'
 'LLOYDS LIST JUN 1 94' 'LLOYDS JUN 10, 94' 'LLOYDS JUN 15, 94'
 'LLOYDS 23 MAR 94' 'LLOYDS NOV 8, 1993' 'IMBPCI 4 DEC 93, LLOYDS 07DEC93'
 'MARAD' 'PIRACY CENTER KUALA LUMPUR' 'ONI 122223Z JAN 94'
 'ONI MSG 032200Z JUN 1999' 'ONI WWTTS 30-JUN-1999'
 'ONI WWTTS 09-JUN-1999' 'ONI WWTTS 16-JUN-1999' 'BIMCO 17-JUN-1999'
 "Lloyd's List 10-MAY-1999" 'IMB REGIONAL PIRACY CENTER 185/99'
 'ONI WWTTS 21-JUL-1999' 'WASHINGTON POST 02-JUN-1999'
 'ONI MSG DATED 111357Z JUL 97' 'ONI MSG DATED 091446Z MAY 97'
 'ONI MSG DATED 231727Z MAY 97' 'ONI MSG DATED 061526Z JUN 97'
 'BIMCO BULLETIN 1/93, JAN/FEB' 'BIMCO WEEKLY NEWS NO.8, 2/24/93'
 'ONI 221937Z JAN' 'ONI 221937Z JAN 94' 'LLOYDS JAN 28 94'
 'LLOYDS LIST FEB 9 94' 'LLOYDS LIST 5 FEB 94' 'LLOYDS LIST FEB 2, 94'
 'K.TOKARSKI,MARAD,RECVD MSG FM SHIP' 'DAVID PEARL'
 'JOURNAL OF COMMERCE NOV 11, 1993' 'N/A' None 'BIMCO 23-JUL-1999'
 'ONI MSG 282200 APR 99' 'ONI MSG 282200Z APR 99' 'ONI MSG 052200Z MAY 99'
 'BIMCO 06 APRIL 99' 'BIMCO 30 MARCH 99'
 'M/V ANASTASIS  CAPT. MALCOM CARTER' 'ONI MSG 122200Z MAY 1999'
 'ONI MSG DATED 142049Z MAR 97' 'ONI MSG DATED 211902Z MAR 97'
 'ONI MSG DATED 281815Z MAR 97' 'ENS M. CHIERICO AT MARAD 202-366-2638'
 'ENS M. CHIERICO AT MARAD' "bimco/Lloyd's List 05/01/95" 'ONI'
 'MRCC AUSTRALIA' 'LLOYDS SEP 16, 1993' 'LLOYDS JUN 17, 1993'
 'REGIONAL PIRACY CENTER KUALA LUMPUR' 'BIMCO 10-MAY-1999'
 'NAVAREA XI 0299/1999 200005Z May 99' 'ONI MSG 312200Z MAR 99'
 'ONI MSG 072200Z APR 99' 'ONI MSG 0722900Z APR 99'
 'ONI MSG 151924Z APR 99' 'ONI MSG DATED 111634Z APR 97'
 'ONI MSG DATED 241513Z JAN 97' 'ONI MSG DATED 311305Z JAN 97'
 'ONI MSG DATED 141543Z FEB 97' 'ONI MSG DATED 212016Z FEB 97'
 "bimco/Lloyd's List 04/25/95" 'bimco/ONI MSG 211544Z APR 95'
 "LLOYD'S LIST 3/02/95" 'ONI MSG 242200Z FEB 99' 'ONI MSG 272356Z JAN 99'
 'ONI MSG 242200Z FEB 98' 'ONI MSG 102200Z MAR 99'
 'ONI MSG 042352Z MAR 99' 'ONI MSG 242200Z MAR 99'
 'ONI MSG DATED 211343Z JAN 97' 'ONI MSG DATED 052052Z MAR 97'
 'ONI MSG DATED 180001Z OCT 96' 'ONI MSG DATED 010001Z NOV 96'
 'ONI MSG DATED 151336Z NOV 96' 'ONI MSG DATED 221452Z NOV 96'
 "LLOYD'S LIST 4/05/95" "LLOYD'S LIST 4/07/95" "LLOYD'S LIST 4/17/95"
 'NAVAREA VIII' 'ONI WWTTS 28-JUL-1999' 'ONI MSG 272356 JAN 99'
 'ONI MSG 040446Z FEB 99' 'ONI MSG DATED 021500Z DEC 96'
 'ONI MSG DATED 270001Z SEP 96' 'ONI MSG DATED 201432Z DEC 96'
 'ONI MSG DATED 261535Z DEC 96' 'ONI MSG DATED 221156Z AUG 96'
 'ONI MSG DATED 291326Z AUG 96' 'ONI MSG DATED 060001Z SEP 96'
 'ONI MSG DATED 200001Z AUG 96' 'LYKES LINE' "LLOYD'S"
 'MOSCOW ITAR-TAS IN ENGLISH' 'M. FRANKLIN, MARITIME ADMIN.'
 'HERITAGE DATA LOAD' 'ONI MSG 252124Z NOV 98' 'ONI MSG 031124Z DEC 98'
 'ONI MSGS 031124Z DEC 98; 272356Z JAN 99' 'ONI MSG 062200Z JAN 99'
 'ONI MSG 142200Z JAN 99' 'ONI MSG DATED 141047Z AUG 96'
 'ONI MSG DATED 200001Z SEP 96' 'ONI MSG DATED 211114Z JUN 96'
 'ONI MSG DATED 101358Z JUL 96' 'ONI MSG DATED 200214Z JUL 96'
 'LLOYDS LIST' 'FBIS 090423ZOCT92' "Lloyd's List 27NOV92"
 '02NOV92 DAILY SHIPPING GUIDE' 'DAILY SHIP GUIDE' 'DAILY SHIPPING GUIDE'
 'LLOYDS' 'ONI MSG 232203Z SEP 98' 'ONI MSG 072224Z OCT 98'
 'ONI 291629Z 10/98; 272356,282200Z 1&4/99' 'ONI MSG DATED 071240Z AUG 96'
 'ONI MSG DATED 131552Z JUN 96' 'ONI MSG DATED 111542Z APR 96'
 'ONI MSG DATED 181320Z APR 96' 'ONI MSG DATED 241806Z APR 96'
 "INT'L REGISTRIES INC." "Lloyd's Weekly Casualty Vol.287, No.8"
 'LIBERIAN SEVICES, INC. 02 APR 92' 'TRADEWINDS (MAR 92).'
 'JOURNAL OF COMMERCE' 'KUALA LAMPUR BERNAMA' "LLOYD'S LIST"
 "LLOYD'S LIST 25 APR 92" 'LIBERTY MARITIME CORP'
 'Lloyds Casualty List 10 and 11 Aug.' 'OCEAN TRAMPING COMPANY LTD.'
 "Lloyd's Vol.185.No.1" 'ONI MSG 291629Z OCT 98' 'ONI MSG 222337Z JUL98'
 'ONI MSG 061216Z AUG 98' 'ONI MSG 121942Z AUG 98'
 '0NI MSG 121942Z AUG 98' "ONI MSG 19221 AUG98;LLOYD'S LIST 8/17/98"
 'ONI MSG 280757Z AUG 98' "ONI MSG 102317ZSEP98;LLOYD'S LIST9/28/98"
 'ONI MSG DATED 041621Z APR 96' 'ONI MSG DATED 151708Z FEB 96'
 'ONI MSG DATED 291310Z FEB 96' 'ONI MSG DATED 061655Z MAR 96'
 'CNO MSG DATED 061655Z MAR 96' 'MARAD 8/6/91' "Lloyd's List 8/7/91"
 "Lloyd's Vol. 285, No.5" 'M/V CAPE EDMONT' 'M/V RANGER' 'LNG GEMINI'
 "LLOYD'S VOL.285 NO.12" "Lloyd's Vol.284 No.11" 'BREST 200800Z OCT91'
 "Lloyd's Vol.286 No.6" 'International Registries Inc.'
 'INTERNATIONAL REGISTRIES INC.' 'FBIS OKINAWA JA' "LLOYD'S LIST 9/2/98"
 'ONI MSG 102317Z SEP 98' 'ONI MSG 162144Z JUL98' 'ONI MSG 062007Z MAY 98'
 'ONI MSG 032028Z JUN 98' 'ONI MSG 280002 MAY 98' 'ONI MSG 022000 JUL 98'
 'ONI MSG. 022000 JUL 98' 'William M. Riley, LCDR, USCG, Retired'
 'ONI MSG DATED 281350Z MAR 96' 'ONI MSG 151708Z FEB 96'
 'ONI MSG Dated 1517082Z Feb 96' 'ONI MSG Dated 151708Z Feb 96'
 "LLOYD'S 12/29/94" "LLOYD'S 12/23/94" 'SEOUL YONHAP IN ENGLISH'
 'FBIS BANGKOK' 'FBIS ABIDJAN' "LLOYD'S VOL.284 NO.5" 'MARAD/MCNA 3APR91'
 "LLOYD'S VOL. 284 NO. 6" 'SS Wright' 'Lloyds Vol.283 No.7 2/26/91, MCNA'
 'ONI MSG 021853Z JAN 98' 'ONI MSG 280133 APR 98' 'ONI MSG 280125Z MAR 98'
 'ONI 280125Z MAR 98' 'ONI MESSAGE 202033Z' 'ON1 MSG 280002Z MAY 98'
 'ONI MSG 172238Z APR 98' 'ONI MSG 032028 JUN 98' 'ONI MSG 202033Z MAY 98'
 'ONIMSGS 05202033Z,0603202898,01272356Z99' 'ONI MSG 051726Z JAN 96'

In [11]:
def preprocess(df):
    """
    preprocesses csv by:
        Drop columns with no event description (critical issue)
        Drop columns where all values are NaN (i.e., 'Unnamed: 8')
        Change NaN values to 'No Information' (critical issue)
    """

    df.dropna(subset=["description"], inplace=True)
    df.dropna(axis=1, how="all", inplace=True)
    df.fillna("No information", inplace=True)

    return df

In [12]:
preprocess(df)

/var/folders/_3/9_qsgmm55yg0k3k8tgh0gy3w0000gn/T/ipykernel_67416/2137710158.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'No information' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("No information", inplace=True)
/var/folders/_3/9_qsgmm55yg0k3k8tgh0gy3w0000gn/T/ipykernel_67416/2137710158.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'No information' has dtype incompatible with datetime64[ms, UTC], please explicitly cast to a compatible dtype first.
  df.fillna("No information", inplace=True)

,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,year,yeartxt,...,nga_dissemination,authority_l,navregion,entrydate,editor,authority_email,authority_phone,source_date,globalid,geometry
0,1990-9,1990-06-03 00:00:00+00:00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,1990,1990,...,NONE,2.0,NAVAREA IV,1990-07-12 00:00:00+00:00,3596,No information,No information,No information,{90696A99-CA54-47EE-A881-45950BA39952},POINT (-75.13333 21.93333)
1,1990-10,1990-03-20 00:00:00+00:00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,1990,1990,...,NONE,2.0,HYDROPAC,1990-07-12 00:00:00+00:00,4144,No information,No information,No information,{EC54E0FF-F01C-4B4D-9914-7A794F6BFC88},POINT (108 3)
2,1990-11,1990-03-20 00:00:00+00:00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,1990,1990,...,NONE,2.0,HYDROPAC,1990-07-12 00:00:00+00:00,3703,No information,No information,No information,{EA340298-971B-4948-97A9-FBB7DD11CDD2},POINT (90 -1)
3,1989-16,1989-01-01 00:00:00+00:00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,1989,1989,...,NONE,4.0,HYDROPAC,1989-08-31 00:00:00+00:00,3703,No information,No information,No information,{5175409B-8939-42F8-A3E6-0FB837AE4935},POINT (42 14)
4,1989-17,1989-09-23 00:00:00+00:00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,1989,1989,...,NONE,10.0,HYDROPAC,1989-10-02 00:00:00+00:00,3703,No information,No information,No information,{62030092-38EC-4B1C-B712-01B159039F06},POINT (80.3 13.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9177,2021-160,2021-02-09 13:54:58+00:00,57,No information,No information,"NIGERIA: On 9 February, pirates in speedboats ...",4.0,12.0,2021,2021,...,NONE,9.0,HYDROLANT,2021-07-23 13:58:14+00:00,1398693597,No information,No information,2021-02-24 13:55:06+00:00,{1B05CA6C-4D6C-46DE-BC74-D58736B00A95},POINT (6.2608 4.3748)
9178,2023-131,2023-07-23 22:20:29+00:00,71,No information,Barge under tow by a tugboat,"MALAYSIA: On 23 July at 2220 local time, four ...",11.0,2.0,2023,2023,...,NONE,9.0,HYDROPAC,2023-09-08 12:47:38+00:00,1398693597,No information,No information,2023-07-26 12:45:50+00:00,{07493774-A3F6-4F15-B26B-7243E1F1F42D},POINT (104.16667 1.3)
9179,2024-52,2023-12-30 10:58:43+00:00,61,No information,Fishing dhow AL SAQAR,"SOMALIA: On 30 December at 1058 UTC, the fishi...",7.0,4.0,2023,2023,...,NONE,9.0,HYDROPAC,2024-02-01 12:35:28+00:00,1398693597,No information,No information,2024-01-03 12:34:09+00:00,{717D4534-4E0B-4576-B700-3B91F3DC3117},POINT (51.29941 10.52682)
9180,2020-188,2020-01-17 13:39:03+00:00,57,Two robbers attempted boarding vessel,Tanker at anchor,"On 17 January, robbers in a small boat approac...",9.0,1.0,2020,2020,...,NONE,9.0,HYDROLANT,2020-05-13 13:13:10+00:00,1398693597,No information,No information,2020-02-13 13:39:00+00:00,{4FC08021-7CA4-4ECB-B45D-F4239887C139},POINT (3.196 6.315)
9181,2020-171,2019-12-22 15:51:04+00:00,71,Five armed robbers,Bulk carrier underway,Singapore Straits. Five persons armed with kn...,1.0,3.0,2019,2019,...,NONE,0.0,HYDROPAC,2020-05-04 14:53:27+00:00,1398693597,No information,No information,2019-12-28 15:51:21+00:00,{1971D218-C25E-48C1-A721-EDC364E6432A},POINT (104.11683 1.2595)

In [ ]:

def split_gdb_LatLong(df):
    """
    Converts the 'position' column of an esri geodatabase (.gdb) compliant column into separate columns ('latitude' and 'longitude')
    Removes  the 'position' column.
    """

    df = df.join(df["position"].str.split(expand=True)).rename(
        columns={0: "latitude", 1: "longitude"}
    )
    df.drop("position", axis=1, inplace=True)

    return df


def baseline_processing(df):
    preprocess(df)
    df = splitLatLong(df)
    df = conv_to_dd(df)
    print("Preprocessing completed")

    return df







def export_as_pickle(df):
    df.to_pickle("../data/in_progress/pickled_data.pkl")

#### 431 types of hostilities, and 1587 types of victims both seem a bit ... excessive.
And it's not like it can be argued these are the total number of cases because there are 8619 events. This isn't critical for now though so let's move on.

### Checking for additional suprizes

In [13]:
df['navarea'].unique()

array(['IV', 'XI', 'VIII', 'IX', 'V', 'XII', 'III', 'II', 'VII', 'XIII',
       None, 'XVI', 'X', 'XV', 'I', 'XIV', 'VI'], dtype=object)

In [17]:
# Not sure why this is, it says there are some Nones in the columns

df.loc[df['navarea'] == None]

Empty GeoDataFrame
Columns: [reference, dateofocc, subreg, hostility_d, victim_d, description, hostilitytype_l, victim_l, year, yeartxt, deaths, month, monthtxt, monthnum, lib_number, authority_d, navarea, nga_releasability, nga_classification, nga_dissemination, nga_disseminationadditional, authority_l, navregion, entrydate, editor, authority_email, authority_phone, source_date, globalid, geometry]
Index: []

[0 rows x 30 columns]

The entries have lat/long values so I'm not worried about it and can correct this in the future. I'm curious about why it wasn't entered in the first place though. 
<br><br>
Subreg has no issues as you can see below.

In [18]:
df['subreg'].unique()

array(['26', '71', '61', '62', '63', '24', '22', '92', '91', '93', '53',
       '57', '28', '25', '56', '51', '94', '52', '96', '72', '54', '21',
       '97', '73', '95', '55', '74', '37', '11', '12', '81', '82', '83',
       '44', '23', '36', '27', '18', '13', '35'], dtype=object)

## No graphing possible until I get the lat/lon thing fixes

In [ ]:
fig = px.scatter_mapbox( data_frame=df, lat="latitude", lon="longitude",
        mapbox_style="carto-darkmatter", color_discrete_sequence=["gold"], 
        zoom=1, height=700, width=1500, center= {'lat': 16 ,'lon': 99})

fig.show()

I like the contrast but this is still isn't as good as the USG sat maps. They show water depth and indirectly the temp with the poles being white.

In [22]:
years = list({i for i in df['year']})

Redoing color was for each year below was tricky but I like how terse but readable it is

In [ ]:
fig = px.scatter_mapbox(data_frame=df, lat="latitude", lon="longitude",
        mapbox_style="carto-darkmatter", color=df['date'].dt.year, 
        zoom=1, height=700, width=1500, center= {'lat': 16 ,'lon': 99})

fig.show()