# This notebook is more for show the what and why of the code. The production code is in the `/scr` folder

### You'll want to be in the `'../International-Maritime-Piracy/notebooks'` folder to get started

In [3]:
import os
import re

import pandas as pd

In [4]:
data_directory = os.path.join('../data','RAW_ASAM.csv')

df = pd.read_csv(data_directory, skipinitialspace = True)


df.head()

,reference,date,position,navArea,subreg,hostility,victim,description,Unnamed: 8
0,2022-127,2022-04-28,"13°43'00""N \n121°02'00""E",XI,91,NaN,Marshall Islands-flagged tanker SEXTANS,"PHILIPPINES: On 28 April, at 0345 local time, ...",NaN
1,2022-124,2022-04-27,"1°16'00""N \n104°17'00""E",XI,71,Boarding,Bulk carrier,"INDONESIA On 27 April, at 0226 local time, a r...",NaN
2,2022-121,2022-04-26,"0°04'00""S \n51°06'00""W",V,24,Boarding,Bulk carrier,"BRAZIL: On 26 April, at 0400 local time, three...",NaN
3,2022-128,2022-04-26,"22°13'00""N \n91°43'00""E",VIII,63,NaN,Singapore-flagged tanker STI MAGISTER,"BANGLADESH: On 26 April, at 0001 local time, a...",NaN
4,2022-122,2022-04-25,"59°19'00""N \n10°30'00""E",I,44,Protest,Hong Kong-flagged tanker UST LUGA,"NORWAY: On the morning of 25 April, a group of...",NaN

In [5]:
df.drop(['Unnamed: 8'], axis=1, inplace=True)

In [6]:
df

,reference,date,position,navArea,subreg,hostility,victim,description
0,2022-127,2022-04-28,"13°43'00""N \n121°02'00""E",XI,91,NaN,Marshall Islands-flagged tanker SEXTANS,"PHILIPPINES: On 28 April, at 0345 local time, ..."
1,2022-124,2022-04-27,"1°16'00""N \n104°17'00""E",XI,71,Boarding,Bulk carrier,"INDONESIA On 27 April, at 0226 local time, a r..."
2,2022-121,2022-04-26,"0°04'00""S \n51°06'00""W",V,24,Boarding,Bulk carrier,"BRAZIL: On 26 April, at 0400 local time, three..."
3,2022-128,2022-04-26,"22°13'00""N \n91°43'00""E",VIII,63,NaN,Singapore-flagged tanker STI MAGISTER,"BANGLADESH: On 26 April, at 0001 local time, a..."
4,2022-122,2022-04-25,"59°19'00""N \n10°30'00""E",I,44,Protest,Hong Kong-flagged tanker UST LUGA,"NORWAY: On the morning of 25 April, a group of..."
...,...,...,...,...,...,...,...,...
8614,1985-18,1980-01-11,"33°60'00""N \n33°60'00""E",III,56,PIRATES,INSTERGENERAL R. GUMUSPALA,"Instergeneral R. Gumuspala, a Turkish-flag gen..."
8615,1985-4,1979-10-10,"16°60'00""N \n112°00'00""E",XI,93,NaN,NaN,"SOUTH CHINA SEA, PARACEL ISLANDS. ..."
8616,1985-3,1979-02-24,"19°00'00""N \n108°00'00""E",XI,93,NaN,NaN,GULF OF TONKIN. ...
8617,1985-2,1978-05-16,"7°60'00""N \n119°60'00""E",XI,92,PIRATES,MERCHANT VESSEL,"SULU SEA: Lloyd's List of 15 May reports a 5,0..."
8618,1989-12,1978-05-01,"5°60'00""N \n119°30'00""E",XI,92,UNKNOWN,UNKNOWN VESSEL,SOUTH SULU SEA ...

In [7]:
set(df['hostility'])

{'15 PIRATES',
 '24-APR-2002',
 '25 SPEEDBOATS',
 'ACTIVISTS',
 'ALGERIAN COASTAL PATROL',
 'ALLEGED POLISARIO FRONT',
 'AMERBER II',
 'ARMED PIRATES',
 'ARMED ROBBERS',
 'ARMED ROBBERY',
 'ASSAILANTS',
 'ATTACKER',
 'ATTACKERS',
 'ATTEMPTED BOARDING',
 'AUTHORITIES IN JACMEL, HAITI',
 'Algerian Patrol Vessel',
 'Approached by fishing boat with four armed men',
 'Approached by skiff',
 'Armed Pirates',
 'Armed boarders',
 'Armed men in a speedboat',
 'Armed persons boarding',
 'Armed persons in a skiff fired upon a tanker',
 'Armed robbers boarded vessel',
 'Armed robbers boarding',
 'Armed robebrs',
 'Assailants',
 'Attacked and boarded',
 'Attacked and fired upon',
 'Attacked three passenger boats',
 'Attempted Boarding',
 'Attempted boarding',
 'Attempted robbery',
 'BANDITS',
 'BLUE SPEEDBOAT',
 'BOARDED BY ARMED ROBBERS',
 'BOARDER',
 'BOARDERS',
 'BOARDING',
 'BOAT',
 'BURMESE PIRATES',
 'Bandits',
 'Boarded by five robbers',
 'Boarders',
 'Boarding',
 'Boarding and attempted robbery',
 'Boarding by robbers',
 'Boarding by three robbers',
 'Boarding vessel',
 'CHINESE AUTHORITIES',
 'CHINESE BORDER VESSEL',
 'CHINESE FISHERMAN',
 'CHINESE MILITARY FORCES',
 'CHINESE NAVY VESSEL NO. 162',
 'CHINESE VILLAGERS',
 'CHINESE WARSHIP',
 'CHRISTIAN LEBANESE FORCES',
 'CHRISTIANS',
 'CUBAN GUNBOAT',
 'Catamaran stolen',
 'Coast Guard',
 'DRUG SMUGGLING',
 'Duty oiler taken hostage by five armed robbers',
 'EIGHT ARMED PIRATES',
 'EPLF',
 'EQUATORIAL GUINEA',
 'ERITREAN PEOPLES LIBERATION FRONT',
 'ETHIOPIA',
 'EXPLOSION',
 'Eight robbers attempted boarding',
 'FARC GUERRILLAS',
 'FISHING BOAT',
 'FISHING BOATS',
 'FIVE PIRATES',
 'FOUR BOATS',
 'FOUR PIRATES',
 'FOUR SPEEDBOATS',
 'FREE ACEH MOVEMENT',
 'Fired upon vessel',
 'Five Armed robbers',
 'Five Pirates',
 'Five armed robber boarded bulk carrier',
 'Five armed robbers',
 'Five or six small boats',
 'Five pirates',
 'Five robbers boarded bulk carrier',
 'Five robbers boarded ship',
 'Five robbers boarded tanker',
 'Five robbers boarded vessel',
 'Five robbers in a wooden boat attempted to board',
 'Fly boat',
 'Four Pirates',
 'Four Speed Boats',
 'Four armed robbers',
 'Four persons kidnapped',
 'Four robbers boarded chemical tanker',
 'Four robbers boarded vessel',
 'Four speedboats',
 'Four suspicious speedboats',
 'GANG MEMBERS',
 'GREEN AND WHITE WOODEN BOAT',
 'GREENPEACE ACTIVISTS',
 'GUADALCANAL MILITANTS',
 'GUERRILLAS',
 'GUINEA-BISSAU GOVERNMENT FORCES',
 'GUNBOAT',
 'GUNMAN',
 'GUNMEN',
 'Gunboats',
 'Gunmen',
 'HAITIAN AUTHORITIES',
 'HAPPY LADY',
 'HIJACKER',
 'HIJACKERS',
 'Hijackers',
 'Hijacking',
 'Hijacking and kidnapping',
 'Hong Kong-flagged container ship MOUNT BUTLER',
 'IMMIGRANTS',
 'INTRUDER',
 'INTRUDERS',
 'IRAN',
 'IRANIAN NAVAL FORCES',
 'IRANIAN NAVY',
 'IRAQ',
 'Intruders',
 'KAREN PIRATES',
 'KAREN REBELS',
 'KIDNAPPER',
 'KIDNAPPERS',
 'KIdnapped two fishermen',
 'KUWAITI GUNBOAT',
 'Kidnappers',
 'LETUGBENE COMMUNITY',
 'LIBERIAN REBEL SHIPS',
 'LTTE',
 'LTTE ARTILLERY',
 'LTTE PIRATES',
 'LTTE REBEL FORCES',
 'LTTE REBELS',
 'LTTE SEA TIGERS',
 'LTTE TERRORISTS',
 'MALDIVIAN AUTHORITIES',
 'MERCHANT VESSEL',
 'MILF REBELS',
 'MILITANT ATTACK',
 'MILITANT YOUTHS',
 'MILITANTS',
 'MILITANTS/PIRATES',
 'MILITIAMEN',
 'MOGADISHU REBELS',
 'MOROCCAN NAVAL FORCES',
 'MOTOR BOATS',
 'MUTINY',
 'Militants',
 'Military',
 'Military Activity',
 'Military activity',
 'Mothership Activity',
 'NAVAL PERSONNEL',
 'NAVAL VESSEL',
 'NAVY VESSEL',
 'NIGERIAN MILITARY FORCES',
 'NIGERIAN NATIONALS',
 'NIGERIAN TRIBAL YOUTH GANGS',
 'NINE SMALL BOATS',
 'NORTH KOREA',
 'Nine crew members kidnapped',
 'ONE PIRATE',
 'P0LISARIO FRONT',
 'PATROL BOAT',
 'PATROL VESSEL',
 'PEOPLES DEMOCRATIC REPUBLIC OF YEMEN',
 'PIERATES',
 'PIRACY',
 'PIRATE',
 'PIRATE ACTIVITY',
 'PIRATE ATTACK',
 'PIRATE BOARDING',
 'PIRATE HIJACKING',
 'PIRATE THEFT',
 'PIRATERS',
 'PIRATES',
 'PIRATES (PEOPLES REPUBLIC OF CHINA)',
 'PIRATES (ROBBERS)',
 'PIRATES / KIDNAPPING',
 'PIRATES / MOSLEM REBELS',
 'PIRATES ATTACK',
 'PIRATES, ARMED MEN',
 'PIRATES/THIEVES',
 'PIRATESS',
 'PIRTATES',
 'POACHERS',
 'POLISARIO FRONT',
 'POLISARIO FRONT GUERRILLAS',
 'POSSIBLE TERRORISTS',
 'PRATES',
 'PRIATES',
 'PROTESTERS',
 'PURSUERS',
 'PURSUING BOAT',
 'Pirate',
 'Pirate Assault',
 'Pirate Attack',
 'Pirate Boarding',
 'Pirate Hijacking',
 'Pirate Kidnapping',
 'Pirate Robbery',
 'Pirate attack',
 'Pirates',
 'Pirates attacked a tug boat',
 'Pirates or Narcotics Smugglers',
 'Property stolen',
 'Protest',
 'Protesting',
 'REBELS',
 'RED SPEED BOATS',
 'RIGHT-WING EXTREMISTS',
 'RIVAL GANG',
 'ROBBER',
 'ROBBERD',
 'ROBBERS',
 'ROBBERY',
 'ROBERS',
 'RUSSIAN WARSHIP',
 'Robbbers',
 'Robber',
 'Robber(s)',
 'Robbers',
 'Robbers aboard vessel',
 'Robbers armed with knives',
 'Robbers boarded a barge',
 'Robbers boarded a container ship',
 'Robbers boarded a tanker',
 'Robbers boarded anchored tanker',
 'Robbers boarded anchored vessel',
 'Robbers boarded bulk carrier',
 'Robbers boarded cargo ship',
 'Robbers boarded drifting fishing boat',
 'Robbers boarded merchant vessel',
 'Robbers boarded sailing yacht',
 'Robbers boarded ship',
 'Robbers boarded tanker',
 'Robbers on fishing boats',
 'Robbers with guns boarded berthed tanker',
 'Robbery',
 'Robbery, kidnapping, killing',
 'Robbres',
 'Roobbers',
 'SABOTEURS',
 'SAHARAN GUERRILLAS',
 'SEPARIST REBELS',
 'SEVEN PIRATES',
 'SHIPYARD WORKERS, VALLETTA MALTA',
 'SHORESIDE PIRATES',
 'SIUSPICIOUS APPROACH',
 'SIX OR SEVEN SPEED BOATS',
 'SMALL BOATS',
 'SMALL CRAFT',
 'SOMALI PATRIOTIC MOVEMENT (SPM)',
 'SOMALIA NATIONAL MOVEMENT REBELS',
 'SOMALIAN AUTHORITIES',
 'SPEED BOAT',
 'SPEED BOATS',
 'SPEEDBOAT',
 'SPEEDBOATS',
 'SPPEDBOAT',
 'SRI LANKAN NAVY',
 'SRI LANKAN TAMIL SEPARATISTS',
 'STALKER',
 'STOW AWAY',
 'STOWAWAY',
 'STOWAWAYS',
 'SUICIDE ATTACKER',
 'SUICIDE BOAT ATTACK',
 'SUSPCIOUS APPROACH',
 'SUSPECIOUS CRAFT',
 'SUSPECTED MILITANTS',
 'SUSPECTED PIRATE',
 'SUSPECTED TERRORISTS',
 'SUSPICICIOUS APPROACH',
 'SUSPICIOPUS APPROACH',
 'SUSPICIOUS APPRAOCH',
 'SUSPICIOUS APPROACH',
 'SUSPICIOUS BOAT',
 'SUSPICIOUS BOATS',
 'SUSPICIOUS CRAFT',
 'SUSPICIOUS CRAFTS',
 'SUSPICIOUS VESSEL',
 'SUSPICOUS APPROACH',
 'SUSPICUIOUS APPROACH',
 'SUSPIPICIOUS APPROACH',
 'SUSPISIOUC CRAFT',
 'SUS[ICIOUS APPROACH',
 'SYRIA',
 'SYRIAN GUNBOATS',
 'Sailing Vessel',
 'Seven Pirates',
 'Seven individuals attempted boarding',
 'Seven people in Pump Boats',
 'Ship fired upon',
 'Shots fired at rescue ship',
 'Shots fired at vessel',
 'Single robber boarded anchored research vessel',
 'Six pirates',
 'Sixteen Pirates',
 'Skiff',
 'Skiffs',
 'Small boat with armed pirates',
 'Small speedboats',
 'Somalian Pirates',
 'Speed Boats',
 'Stowaway',
 'Sucpicious Approach',
 'Suspected Pirates',
 'Suspected suicide cadres',
 'Suspicious Approach',
 'Suspicious Craft',
 'Suspicious Vessel',
 'Suspicious approach',
 'Suspicious boat',
 'Suspicious craft',
 'Suspicious group onboard a trawler',
 'Suspicious speedboats',
 'Suspicous Approach',
 'Suspisious Approach',
 'TAMIL SEPARATIST REBELS',
 'TERRORIST',
 'TERRORISTS',
 'THEIFT',
 'THIEF',
 'THIEVES',
 'THREE PIRATES',
 'THREE SPEED BOATS',
 'THREE SPEEDBOATS',
 'THREE WHITE SPEEDBOATS',
 'THUGS',
 'TUG BOAT',
 'TUNA BOAT',
 'TUNISIA',
 'TURKISH NAVAL FORCES',
 'TWO BLUE SKIFFS',
 'TWO BOATS',
 'TWO PIRATES',
 'TWO SPEED BOATS',
 'TWO SPEEDBOATS',
 'TWO WHITE SPEED BOATS',
 'Ten Pirates',
 'Ten individuals boarded',
 'Ten robbers armed with knives',
 'Terrorist Attack',
 'Threatening the crew at gunpoint',
 'Three Pirates',
 'Three Speed Boats',
 'Three armed robbers',
 'Three boats',
 'Three robbers armed with knives',
 'Three robbers boarded bulk carrier',
 'Three robbers boarded tanker',
 'Three robbers boarded vessel',
 'Three skiffs',
 'Three small vessels',
 'Three speedboats',
 'Two High-speed boats',
 'Two White Skiffs',
 'Two boats with 24 passengers hijacked',
 'Two fishermen kidnapped',
 'Two robbers attempted boarding vessel',
 'Two robbers boarded anchored tanker',
 'Two skiffs and a dhow',
 'Two white speedboats',
 'UNAUTHORISED PERSONS ENTERED THE ENGINE ROOM',
 'UNAUTHORIZED PERSON',
 'UNIDENTIFIED ATTACKER',
 'UNIDENTIFIED ATTACKERS',
 'UNIDENTIFIED GUNBOAT',
 'UNIDENTIFIED PIRATES',
 'UNIDENTIFIED TERRORISTS',
 'UNIDENTIFIED VESSEL',
 'UNKNOWN',
 'UNKNOWN  TERRORISTS',
 'UNKNOWN BOAT',
 'UNKNOWN PEOPLE',
 'UNSPECIFIED',
 'Unauthorized person boarded',
 'Unauthorized person in the engine room',
 'Unauthorized persons onboard vessel',
 'Unidentified Gun Boats',
 'Unknown',
 'Unknown Vessel',
 'Unknown boarder',
 'VANDALS',
 'VIETNAMESE',
 'VIETNAMESE PATROL BOATS',
 'VIETNAMESE SOLDIERS',
 'Vessel',
 'Vessel boarded and items stolen',
 'Vessel fired on from shore',
 'Vessel fired upon',
 'Vessel stolen',
 'Vessels seized by Houthi militia',
 'WHITE BOAT',
 'WHITE CRAFT',
 'WOODEN SPEED BOAT',
 'White Skiff',
 'YACHT',
 'YEMENI GOVERNMENT',
 'YUGOSLAV MILITARY GUNBOAT',
 'YUGOSLAV NAVY',
 'Yemeni Coast Guard',
 'apparent chinese customs officials',
 'assailants',
 'assault',
 'bOARDING',
 'drug smuggling',
 'explosion',
 'gunboat',
 'militiamen',
 nan,
 'pirates',
 'pirates armed with rifles boarded',
 'pirates in skiff fired upon vessel',
 'robber',
 'robbers',
 'robbery',
 'skiff with 8-10 individuals approached',
 'suspicious approach',
 'suspicious vessel',
 'suspicous approach',
 'two skiffs',
 'unknown'}

In [6]:
df['hostility'].nunique()

430

In [8]:
set(df['victim'])

{nan,
 'MSC CARMEN',
 'VERANO/CORUNA/DOAL UCKA',
 'BAHMAS',
 'General cargo ship',
 'M/V SEA WOLF',
 'General Cargo Ship',
 'SOUTH PACIFIC; PACIFICA 1',
 'UNKNOWN CRAFT',
 'PRODUCT TANKER LOULOU',
 'MERCHANT VESSEL',
 'AKIJ PEARL',
 'Oil Platform',
 'Cameroon-flagged cargo vessel STEVIA',
 'AQUITANIA',
 'BAND AID STAR',
 'Liberia-flagged bulk carrier SMARTA',
 'BULK CARRIER WESTGATE',
 'Singapore-flagged bulk carrier LAMPARD',
 'Liberia-flagged bulk carrier TRUDY',
 'BARGE UNDER TOW',
 'Refrigerated Cargo Ship',
 'TUG FOKU MARU NO. 8',
 'URUGUAY EXPRESS',
 'CHEMICAL TANKER GANDHI',
 'Passenger Boat',
 'AUSTRALIAN STAR',
 'STRONGHAND',
 'CARRIER',
 'M/V SO REVALU',
 'Tankers',
 'Barge under tow',
 'LPG CARRIER',
 'container ship APL LOS ANGELES',
 'INABUKWA',
 'Panama-flagged chemical tanker AEGEAN Il',
 'Tanker Crewmen',
 'OCEAN STAR',
 'SAILBOAT',
 'M/V TORBEN SPIRIT/M/V ESSBERGER PIONEER',
 'HARRISBURG',
 'LIVESTOCK CARRIER',
 'Barge being towed by tug',
 'Civilian',
 'Tanker at anchor',
 'CIVILIAN YACHT',
 'ESSBERGER PILOT',
 'Bulk Carrier',
 'M/V PEGASUS',
 'M/V STELLA LYKES',
 'THOR MARIE',
 'Marshall Islands-flagged tanker PS STARS',
 'Panama-flagged product tanker ERRINA',
 'BARGE/TUG CREST 289/TCL4401',
 'ISOLA AZZURRA',
 'Bermuda-flagged LNG tanker LNG LAGOS II',
 'EPIC BERMUDA',
 'NAVY BOAT',
 'CHEMICL TANKER',
 'M/V KRK',
 'Marshall Islands-flagged bulk carrier SEMIRIO',
 'M/V SEA LADY I',
 'MAERSK TEMA',
 'TUG HUB 21',
 'TUG BOAT AND BARGE',
 'passenger',
 'DHOW SHAHE FAIZE NOORI',
 'CONTAINER SHIP CAP PORTLAND',
 'SPEEDBOATS',
 'CATAMARAN',
 'NORMAR SPLENDOUR',
 'M/V DOOYANG AMBER',
 'ANABAS',
 'Liberia-flagged general cargo ship VANTAGE WAVE',
 'UNI BLOSSOM',
 'M/V PELANDER',
 'M/V ZHONGSHAN',
 'SEAFRONTIER',
 'OCEAN COMPETENCE',
 'UNICORN 1',
 'HEAVY LOAD CARRIER',
 'BARGES UNDER TOW',
 'TWO CARGO SHIPS',
 'TOWED VESSEL',
 'TANKER ITRI',
 'Offshore supply ship REMAS',
 'KAPITAN IVANCHUK',
 'TANKER UNIQUE GUARDIAN',
 'CONTAINER',
 'Anchored tanker PUFFIN PACIFIC',
 'ATLANTA 95',
 'M/V MAERSK LA PLATA',
 'Container ship MAERSK NUSSFJORD',
 'Oil Product Tanker',
 'UNKNOWN  VESSEL',
 'TANKER STOLT RINDO',
 'Drifting bulk carrier',
 'Underway oil tanker PIKE',
 'Asphalt tanker',
 'PANOFI FRONTIER',
 'YIN CHUAN',
 'ZADAR',
 'Trawlers',
 'FENG YU MAN NO.1132',
 'Container Vessel',
 'Cruise Ship',
 'AYIA MARKELLA',
 'CHEMICAL TANKER MARIELLA BOTTIGLIERI',
 'Naval Houseboat',
 'DUKE',
 'Fishing Boats',
 'Singapore-flagged Ro-Ro car carrier LORD VISHNU',
 'IKAN SELANGAT',
 'Underway bulk carrier',
 'SHIPPING',
 'RIO CHARLESTON',
 'PINK SANDS',
 "L'ATAIR",
 'BULK CARRIER SHER E PUNJAB',
 'Marshall Islands-flagged bulk carrier CP TIANJIN',
 'VESSEL (UNKNOWN TYPE)',
 'SHENGANG NO. 1',
 'BASS REEFER',
 'M/V ICONOS',
 'CAR CARRIER VESSEL',
 'CONCENSUS REEFER',
 'FPSO VESSEL',
 'LORNA',
 'KHERSONES',
 'M/V FORTUNE',
 'NIKOLAY KANTEMIR',
 'PUENTE CANARIO',
 'INSTERGENERAL R. GUMUSPALA',
 'Two Panama-flagged crew boats',
 'PIPE LAYER',
 'PRODUCTS TANKER MT. ALTHEA',
 'CONYAINER SHIP JPO SAGITTARIUS',
 'HORNELAND',
 'TUG CREST APACHE & BARGE TERAS 3717',
 'Panama-flagged general cargo vessel IKI',
 'HYE PROSPERITY',
 'GLOBAL PHENIX',
 'F/V SOYUZ 4',
 'Marshall Islands-flagged tanker B OCEAN',
 'BULK CARRIER NORD MUMBAI',
 'Singapore-flagged bulk carrier CAPE LILY',
 'CARGO SHIP SE PELAGICA',
 'CITY OF POROS',
 'UNKNOWN VESSEL',
 'M/V KOTA INTAN',
 'BERTHED TANKER',
 'Kuanyin',
 'Tug and Barge',
 'CARGO SHIP SHAMROCK',
 'M/V NORDSUND',
 'NORDSTRENGTH',
 'MALAVIYA TEN',
 'CHEMICAL TANKER ESHIPS LIWA',
 'Fishing Vessels',
 'BLANDIE',
 'FU TAI',
 'PASSENGER SHIP',
 'M/V ARGENTINA STAR',
 'LNG tanker',
 'WORKBOAT',
 'BARGE/TUG CREST 2825/CREST JADE 1',
 '312 TON YELLOW TAIL SHIP "SUN 702"',
 'NUEVA ALCAMAR',
 'GINA',
 'OTS URANUS',
 'LOUISE',
 'Marshall Island-flagged LA BOHEME',
 'Timber carrier',
 'Semi-Submersible Heavy Lift Ship',
 'Tug boat',
 'VIETNAMESE AUTHORITIES',
 'MERIDIAN SPICA',
 'Supply vessel TAMPEN',
 'FAR TRADER',
 'HYPERION RAY',
 'TOMMI RITSCHER',
 'M/V KAVO SIDERO',
 'HORIZON MARU',
 'OIL TANKER EAGLE SAN JUAN',
 'ALGIRDAS',
 'MEXICO I',
 'M/V AMBRA ORIENT',
 'Sailing Yacht',
 'DERELICT VESSEL',
 'IVORY ACE',
 'LEADER A II',
 'M/V TAIRYO MARU',
 'm/v ULF RITSCHER',
 'BULK CARRIER UNDERWAY',
 'API IV',
 'M/V WILDRAKE',
 'CARGO SHIP FIESTA',
 'PERNAS PROTON',
 'Passenger boat',
 'INCAT 033',
 'Container Vesel',
 'Unknown Vessel',
 'ROWAYTON EAGLE',
 'TANKER SHIP',
 'CARGO SHIP LANGENES',
 'AMERGER VII',
 'BULK CARRIER DENSA JAGUAR',
 'HAI HUI',
 'CHEMICAL TANKER BANDAI V',
 'Tug MTS VANTAGE and barge BM 2021',
 'LYDIA 5',
 'Oil Tanker',
 'NEDLLOYD SAO PAULO',
 'Recreational boats',
 'M/V KRITI FILOXENIA',
 'Reefer Vessel',
 'CARGO SHIP BOSUN',
 'FALCON COUNTESS',
 'M/V SAN GIOVANNI',
 'SEA LION',
 'Liberia-flagged bulk carrier MP THE HIGHTOWER',
 'SUPICIOUS APPROACH',
 'FISHING TRAWLERS',
 'RESEARCH SHIP',
 'TANKER TORM GARRONE',
 'IVER CHASER',
 'Tug underway',
 'BULK CARRIER ANNA BARBARA',
 'PEARL LUCK',
 'CONTAINER SHIP CAPE NORVIEGA',
 'merchant vessel',
 'TUG DE HUI/BARGE HAIYANGSHIYOU',
 'FISHING VESSEL PKFB (U2) 1532',
 'Panama-flagged general cargo ship HELT',
 'THAI TRAWLER',
 'M/V BALTNMAR NEPTUNE',
 'F/V DEJIN',
 'BULK CARRIER CRANE',
 'MSC GRACE',
 'OIL SERVICE VESSEL',
 'DAISY DUCK',
 'WARSHIP',
 'C/V PHU QHUC',
 'San Miguel',
 'USSURIYSK',
 'FISHING VESSELS TARA 1 AND OMI 5',
 'NEJMA-5',
 'BYISK',
 'TEMASEK',
 'TUB BOAT',
 'Malta-flagged bulk carrier TZAREVNA',
 'Single-handed yacht',
 'ASIAN SUN',
 'M/V KAPETAN ELIAS',
 'Fishermen',
 'Bulk carrier MAESTRO DIAMOND',
 'SURVEY SHIP',
 'M/V SCOTT UNITY',
 'MALASIAN TRAWLER',
 'TORM ALEXANDRA',
 'NICKOLAS',
 'TANKER FORWARD FORTUNE',
 'UNKNOWN BOAT',
 'M/V FORUM WIND',
 'Ro Ro',
 'EMILIA THERESA',
 'ASTRO PERSEUS',
 'TANKER NEW CENTURY',
 'FRENCH CARGO VESSEL',
 'BOLESLAW KRZYZWUSTY',
 'BULK CARRIER SANKO MERCURY',
 'BARGE JACSON 33',
 'ZERVOS',
 'KELLY MARIE',
 'MADRID SPIRIT',
 'BULK CARRIER CONDOR',
 'VESSEL (S VENUS)',
 'MOZART',
 'Bangladesh-flagged bulk carrier BANGLAR SAMRIDDHI',
 'BULK CARRIER SAM HAWK',
 'Anchored',
 'Vanuatu-flagged general cargo vessel TANGO REY',
 'NEDLLOYD EVEREST',
 'LNG GEMINI',
 'SEABULK LINCOLN 6',
 'TANKER CAP LARA',
 'TOURIST BOATS',
 'Singapore-flagged tanker THERESA II',
 'MARY NOUR, AND LION',
 'Boat',
 'BULK  CARRIER HUA HENG 167',
 'CHEMICAL TANKER RHINO',
 'TIGER BRIDGE',
 'TUENMUN',
 'M/V NANSHIN MARU',
 'MOTOR VESSEL, TANKER, TUG',
 'yacht',
 'Livestock carrier BRAHMAN EXPRESS',
 'GLOBAL MARS',
 'MERCHAMT VESSEL',
 'SELAYANG',
 'KENDURI',
 'F/V LADY DIANA',
 'AU LIBRA',
 'Greece-flagged ELKA ARISTOTLE',
 'Marshall Islands-flagged bulk carrier STH OSLO',
 'Wood Chip Carrier',
 'STOLT SPUR',
 'BW LOYALTY',
 'GUARD VESSEL',
 'FIVE BROOKS',
 'REFRIGERATED CARGO SHIP',
 'M/V BP ADMIRAL',
 'MERCHAT VESSEL',
 'CURACAO TRADER',
 'HAJI MOHAMMAD JATT',
 'WORLD DISCOVERER',
 'NORWEGIAN DREAM',
 'AL MARJO',
 'TANKER ORANGE STARS',
 'TANKER BARGE LADY SWATHIN',
 'Panama-flagged vehicle carrier ARIES LEADER',
 'IONNA L',
 'BUNKER VESSEL SEAGULL',
 'GERMAN NAVY TANKER',
 'MATSUMI MARU NO. 7',
 'CARGO SHIP FRISCHLAND',
 'Marshall Islands-flagged chemical tanker AGISILAOS',
 'UNIDENTIFIED',
 'Marshall Islands-flagged bulk carrier GLOBAL AGLAI',
 'ASIA HARMONY',
 'Sailing yacht at anchor',
 'Chemical Tanker BLUEGREEN TIGRE',
 'M/V DURMITOR',
 'REMAS',
 'MV HELEN B.',
 'RYTAS',
 'CONTAINER SHIP CITY OF GUANGZHOU',
 'NAVAL VESSEL',
 'MERCHNANT VESSEL',
 'OSV',
 'Passenger Boats',
 'M/V JUI HO',
 'M/V MAERSK ASIA DECIMO',
 'ERASMUSGRACHT',
 'ASPIDOFOROS',
 'ANTARA DUA',
 'OIL TANKER GASCOGNE',
 'JORK',
 'M/V TRICOLOR SONG',
 'tanker anchored',
 'CSAV MANZANILLO',
 'Malta-flagged container ship CMA CGM NEW JERSEY',
 'TANKER ENERGY CENTURION',
 'AMSTERDAM',
 'Greece-flagged tanker DELTA PIONEER',
 "L'OBJECTIF LUNE",
 'MARIE THERESE',
 'CHUAY MIT',
 'Merchant tug',
 'M/V ALAM TELADAN',
 'DOLPHINE 4',
 'AMBIKA',
 'Oil Rig and Gunboat',
 'Container vessel SEA SPAN NEW YORK',
 'bulk carrier',
 'CARGO SHIP RMS BAERL',
 'At anchor',
 'container ship HELMUTH RAMBOW',
 'M/V ARKTIS STAR',
 'Malta-flagged bulk carrier FLECHA',
 'PIONEER SPIRIT',
 'AGNES 1',
 'Chemical tanker',
 'SS ALLISON LYKES',
 'IBNU',
 'VESSEL',
 'TUGS',
 'Panama-flagged product tanker NAFELI II',
 'M/V TIMBER TRADER XII',
 'ALAM AMAN',
 'Super Tanker',
 'UNISPIRIT',
 'Gas carrier',
 'Singapore-flagged tanker BW PAVILION LEEARA',
 'MED STAR',
 'ARTEMIS',
 'Commercial Tug',
 'RAMONA',
 'GS FABULOUS',
 'PASSENGER VESSEL',
 'HARALD MAERSK',
 'M/V LIBERTY SPIRIT',
 'Anchored bulk carrier',
 'TENYU',
 'CARGO SHIP FRIO ATHENS',
 'Turkey-flagged bulk carrier NURI BEY',
 'AMORGOS',
 'ALASKA II',
 'OIL TANKER TAIZAN',
 'COLUMBIA 1',
 'M/V ALICIA STAR',
 'COMMERCIAL VESSELS',
 'SMS SANGATTA',
 'Cargo Vessel',
 'SUPPLY VESSEL C VIKING',
 'CLEVELAND',
 'BAHARIHNDI',
 'YU JIA',
 'Greece-flagged tanker HIRADO',
 'SHUENN MAN NO. 12',
 'Singapore-flagged tanker KHK EMPRESS',
 'Ukraine-flagged bulk carrier PRINCESS NICOLE',
 'Tanker underway',
 'PETROLEUM TANKER',
 'barge KIEN SAN 8 towed tug KIEN SAN 1',
 'GENERAL CARGO',
 'JOLLY OVORIO',
 'M/V DARYA CHANG',
 'M/V KAPITAN LEONTIY BORISENKO',
 'LONGO BARDA',
 'AMETHYST',
 'Container vessel anchored',
 'United States-flagged sailing vessel BLUE ROSE',
 'Underway yacht',
 'AN ARUN III VESSEL',
 'VESSEL ARMADA TUAH 22',
 'M/V ISLA LUZON',
 'CHINESE CARGO VESSEL',
 'Oilfield Production Unit',
 'Cameroon-flagged cargo vessel CAP SAINT GEORGES',
 'IRENE PATERAS',
 'Fishing Boat',
 'M/V NORDSTAR',
 'Indonesia-flagged tanker GRAHA DUA SATU',
 'container ship',
 'PARIS',
 'MERCHANT SHIP CREWS',
 'RO/RO SEA DRAGON',
 'ALEXANDRA',
 'LPG ARIES GAS',
 'SS PRESIDENT JOHNSON',
 'M/V CALIFORNIA ZEUS',
 'Offshore support vessel',
 'VILKOV',
 'ALL SHIPPING',
 'Underway tanker',
 'Liberia-flagged bulk carrier STAR PAVLINA',
 'CHEMICAL TANKER OVERSEAS ATHENS',
 'HERRENTOR',
 'MAERSK BELLA',
 'SOMALI POLICE VESSEL',
 'BARGE M3320',
 'Sailing Vessel',
 'PM ALPHA',
 'TUB BOAT AND BARGE',
 'Anchored sailing yacht',
 'M/V SOLENA',
 'AVRASYA',
 'MULTIPLE VESSELS',
 'TUG ARMADA TUGAS 1',
 'FISHIG VESSEL',
 'CONTAINER VESSEL',
 'rcgs resolute',
 'SS LOUISE LYKES',
 'M/V MOON BIRD',
 'IGLOO MOSS',
 'TUG WITH BARGE',
 'ALI EKINCI',
 'Towed Rig',
 'RO-RO VESSEL',
 'M/V KRITONAS',
 'S/T ASPEN',
 'MECHANT VESSEL',
 'TANKER BW YANGTZE',
 'M/V BANKOK NAVEE',
 'YANG PU',
 'MALAYSIAN TUG',
 'Panama-flagged container ship MSC LUCIA',
 'MERCHANT TANKER',
 'OIL PIPLINE',
 'SEALAND VOYAGER',
 'Naval Auxiliary Ship',
 'F/V ALIYA',
 'USNS LITTLEHALES',
 'CHEMICAL TANKER MATRIX I',
 'VEHICLE CARRIER',
 'DAMAS VICTORY',
 'M/V KITSA',
 'KASSOS',
 'MINERVA VIRGO',
 'DUBAI PRIDE',
 'SEA WIND',
 'Tug and barge',
 'Bulk Carier',
 'RO-RO SHIP',
 'VALIANT CARRIER',
 'CHEMICAL TANKER PYXIS DELTA',
 'm/v sea heron',
 'Fishing boat',
 'HAFNIA PHEONIX',
 'TANKER OLIVIA II',
 'LPG TANKER CONISTON',
 'AL SARAWAT NO. 4',
 'FISHING VESSEL CHUN YING',
 'ORIENT PATRIOT',
 'MONTE URBASA',
 'Japan-flagged vehicle carrier PROCYON LEADER',
 'TIOMAN',
 'M/V PEDOR MOST',
 'Group of fishing vessels',
 'MOTOR VESSEL',
 'Norway-flagged tanker BOW SANTOS',
 'Phillipino Navy',
 'Offshore Support Vessel',
 'CHEMICAL TANKER IVER EXACT',
 'SMALL FERRY',
 'SS ASHLEY LYKES',
 'Patrol boat',
 'Fishing Ship',
 'Petroleum Product Tanker',
 "VILLE D'AURORE",
 'TANKER NORTHSEAS BELLOWS',
 'MOHYEDDIN-M',
 'KAFU MARU',
 'SS PRESIDENT TAYLOR',
 'ANTARA KOH 18',
 'JAN-RASMUS',
 'FRENCH NAVAL VESSEL',
 'M/V PIMA',
 'Panama-flagged bulk carrier ASIA SPRING',
 'Marshall Islands-flagged tanker JANE',
 'Cable Laying Vessel',
 'barge BS 2102 towed by tug BARLIAN 1299',
 'Unspecified vessel',
 'CONTAINER SHIP NADIR',
 'NOURSTAR',
 'PASSENGER BOATS',
 'Spanish Fishing Trawler',
 'HYE MIEKO',
 'Singapore-flagged bulk carrier DELPHINUS',
 'M/V',
 'MERCHANT VESSEL/LIFERAFTS',
 'RESEARCH VESSEL',
 'TANKER MADONNA I',
 'Security Vessel',
 'Bulk carrier STAR NIKE',
 'SAILING VESSEL',
 'CHEMICAL TANKER FEN',
 'CHEMICAL TANKER CHAMPION TRUST',
 'REGINA',
 'TANKER B ELEPHANT',
 'Ukraine-flagged bulk carrier AFINA',
 'SMIT-LLOYD 31',
 'CARGO SHIP TRONO',
 'INTER-ISLAND TRADE VESSELS',
 'PRIOZYORNYY',
 'CARGO SHIP WEHR BLANKENESE',
 'M/V VALERIY VOLKOV',
 'Three passenger boats',
 'SEA DIAMOND',
 'Tug and cargo vessel',
 'ARESSA',
 'PERNAS PROPANE',
 'COURIER',
 'ANNA THERESA',
 'NILKANTHA/SHREE VISHNU',
 'JINJIANG',
 'sailing yacht',
 'TANKER GARDEN CITY RIVER',
 'MERCHANT SHIPS',
 'Civilian Yacht',
 'Anchored supply vessel',
 'Merchant vessel',
 'CONTAINER VESSEL MSC JASMINE',
 'TANKER FIDELITY 2',
 'Bahamas-flagged bulk carrier NEFELI',
 'SUPPLY SHIP C VIKING',
 'SPAR EIGHT',
 'VIRA BHUM',
 'SAILING YACHT',
 'Crude oil tanker',
 'SHF 1104',
 'RORO',
 'CAP DOMINGO',
 'RUGIA',
 'Product tanker underway',
 'MAYANG SARI',
 'HALIMATUM',
 'Anchored Panama-flagged tanker SG FRIENDSHIP',
 'TANKER KING RIVER',
 'Malta-flagged bulk carrier ATLANTIC ELM',
 'PETRO CONCORD',
 'BARGE',
 'MA FOROE',
 'OIL RIG',
 'INNES',
 'offshore supply vessel',
 'Sail Boat',
 'BAMZI',
 'F/V MINA',
 'ULF RITSCHER',
 'ANAX PUMA',
 'TANKER SINGAPORE RIVER',
 'Yachts',
 'TELFORD 28',
 'Anchored Ship',
 'SRI LANKAN NAVAL VESSEL',
 'PLEASURE CRAFT',
 'LAURISSA',
 'Tugboat',
 'M/V DELAWARE BAY',
 'FLORA',
 'M/V BIRLAD',
 'LNG tanker METHANE PRINCESS',
 'Marshall-Islands-flagged bulk carrier YASA JUPITER',
 'SUPPLY TANKER',
 'Product Tanker',
 'STOLT EMERALD',
 'Ghana-flagged fishing vessel IRIS S',
 'OIL TANKER',
 'Malta-flagged general cargo ship APACHE',
 'CHEMICAL TANKER',
 'ARGENTINE CONTAINERSHIP',
 'MARIANNA',
 'DREDGER',
 'INDIAN NAVAL VESSEL',
 'F/V DALRYBA',
 'Hong Kong-flagged tanker UST LUGA',
 'ORIONAS',
 'SIAM XANXAI',
 'AEGIS',
 'KIDNAPPED',
 'RORO VESSEL',
 'TOURIST EXCURSION BOATS',
 'STI BOSPHORUS',
 'VINALINES MIGHTY',
 'M/V TRANSASIA',
 'CHINESE FISHING VESSELS',
 'CARGO/RORO SHIP',
 'M/V RANGER',
 'PRODUCT TANKER MORESBY 9',
 'Cargo ship',
 'CARGO SHIP OCEAN CHARGER',
 'SEAKING',
 'Malta-flagged bulk carrier CANO',
 'MV CAPE HENRY',
 'Catamaran underway',
 'BULK CARRIER EMERALD STAR',
 'CARGO VESSEL JADE SKY',
 'WATER PHOENIX',
 'ASIA STAR',
 'CONTAINER SHIP CAPE MAHORN',
 'M/V HERMES HOPE',
 'HUMEN BRIDGE',
 'Sandunga oil platform',
 'CONTAINER SHIP CMA CGM KAILAS',
 'VOSA CARRIER',
 'NET EXPRESS',
 'CARGO SHIP KOHINOOR',
 'OCEAN CITY',
 'LEOPARD STAR',
 'TANKER CAP THEODORA',
 'JAVA RAINBOW',
 'JUBILEE',
 'TRF HORTEN',
 'Ming Bright',
 'Singapore-flagged chemical tanker OCEAN MORAY',
 'M/V BALTIMAR NEPTUNE',
 'MEDEMSAND',
 'TRAWLER',
 'Bulk carrier at anchor',
 'SUSPICIOUS APPROACH',
 'AFRICAN KALMIA',
 'Research Vessel',
 'HANGJUNG NO.9',
 'AWAFC VESSEL',
 'SUPPLY VESSEL GYRE, ESCORT BOAT BLUE JAY',
 'Merchant Ship',
 'Survey vessel',
 'GANJ',
 'CAMCO BLUE TIDE',
 'Singapore-flagged container ship TAMPA TRADER',
 'SEMI-SUB LIFT SHIP',
 'Ore Carrier',
 'TANKER ORIENTAL CITY',
 'Malta-flagged tanker NEW RANGER',
 'TANKER LG ASPHALT 1',
 'M/V BUNGA KERAYANG',
 'Refrigerated cargo ship',
 'BAHARI KENYA',
 'M/V SALUD ACE',
 'LPG TANKER',
 'ODYSSEE',
 'BULK CARRIER INCE INEBOLU',
 'Singapore-flagged tanker TORM ALEXANDRA',
 'GLOBAL VENTURE, 9VXW',
 'ATLANTIC DISCOVERER',
 'Service Vessel',
 'Four bulk carriers',
 'HORIZON MARIJ',
 'ESTRELLA DEL MAR',
 'MERCHANET VESSEL',
 'DUTCH TUG',
 'Tamker',
 'Panama-flagged bulk carrier PENTA',
 'chemical tanker Atlantic Canyon',
 'Chemical/gas tanker',
 'Bulk carrier NORD PENGUIN',
 'ENDEAVOUR II',
 'offshore supply vessel BOURBON EVOLUTION 802',
 'URUNDI',
 'Singapore-flagged bulk carrier DALARNA',
 'CARGO SHIP ESTHER C',
 'ALFA BG',
 'M/V CARDENAS',
 'AP 703',
 'VIRGINIA',
 'PASSENGER FERRY',
 'GONIVE ENFLECHE',
 'Heavy Lift Carrier',
 'Liberia-flagged bulk carrier A RACER',
 'SALVAGE VESSEL',
 'SUPPLY SHIP',
 'BULK CARRIER GLOBAL F',
 'TUG FUKU MARU NO. 8',
 'SPEAR',
 'Malta-flagged container ship PORT GDYNIA',
 'Liberia-flagged heavy lift ship ZHEN HUA 7',
 'POSH KITTAWAKE',
 'M/V LILAS',
 'CONTAINER SHIP HANSA MARBURG',
 'TANKER SEAPRIDE',
 'JAEGER',
 'Offshore Oil Facility',
 'Petroleum product tanker',
 'SPEEDBOAT',
 'AKIJ GLOBE',
 'DELOS CARRIER',
 'CHEM RANGER',
 'LEROS STAR',
 'SAAD III',
 'FISHING VESSEL',
 'Liberia-flagged container ship TONSBERG',
 'Houseboat',
 'Anchored Bulk Carrier',
 'TUG SURYA WIRA 2',
 'PATROCLUS',
 'PRESIDENT HARRISON',
 'M/V WORLD BRIDGE',
 'TANKER TORM OHIO',
 'SUPPLY VESSEL',
 'THE EASTWOOD',
 'Offshore supply tug',
 'SALWAH',
 'M/V KOTA INDAH',
 'VESSEL SEA PIONEER',
 'WORLD KUDOS',
 'DAWN',
 'Sailing Yachts',
 'Unidentified Vessel',
 'CARGO',
 'M/V CAPE EDMONT',
 'ESSO LANGUEDONC',
 'YUGOSLAVIAN MERCHANT SHIP',
 'Underway product tanker',
 'Panama-flagged tanker DAISY 2',
 'BS AYRES',
 'Fishing Vessel',
 'Dutch and Nigerian Citizens',
 'Warship',
 'RORO SHIP',
 'VIRGIN PEARL',
 'PIPELINE',
 'INDIAN FISHERMEN',
 'SMALL BOAT',
 'TANKER ABU DHABI STAR',
 'YUN CHENG',
 'NATALIE',
 '24-foot wooden pirogue',
 'Marshall Islands-flagged product tanker WESLEY',
 'ZHU HAI YOU 129',
 'VIETNAMESE',
 'TANKER MAERSK BERING',
 'Philippine Navy',
 'Tug',
 'General Cargo',
 'CIMBRIA',
 'GENERAL CARGO SHIP',
 'BOWDITCH',
 'Yacht at anchor',
 'Marshall Islands-flagged bulk carrier BOBIC',
 'Singapore-flagged tanker STI MAGISTER',
 'Car Carrier',
 'Nordcloud',
 'PRODUCT TANKE',
 'Bulk Cargo Carrier',
 'M/V Bonita',
 'BULK CARRIER OCEAN GARNET',
 'EAGLE TIDE',
 'Norwegian-flagged bulk carrier BONITA',
 'LAMBERT MARU',
 'M/V ANOMIS',
 'ANDES',
 'India-flagged bulk carrier MAHA JACQUELINE',
 'Oil ship',
 'Cargo vessel',
 'commercial vessel',
 'Small Fishing Boats',
 'PELLA',
 'M/V WINDWARD',
 'tug HAI DUONG 29 towing platform HAKURYU 5',
 'LNG Tanker',
 'LUCKY TRADER NO. 1',
 'DAQIA HAIYU',
 'M/V GORNO ALTAYSK',
 'NEWCO ENDURANCE',
 'Offshore supply ship',
 'SEA ISLE CITY',
 'SHANGHA12',
 'REFRIGERATED VESSEL',
 'M/V BUNGA MELOR SATU',
 'Cargo Dhow',
 'TANKER ENJOY',
 'TANKER LEON DIAS',
 'DOVE ARROW/MARIA T',
 'German NGO rescue ship ALAN KURDI',
 'M/V CASTOR',
 'SURAYA AKI',
 'SEA TIGER',
 'Berthed bulk carrier',
 'GERMAN FLAGGED VESSEL',
 'RO-RO',
 'Bulk carrier ADVENTURER',
 'CHEMICAL TANKER COTTON',
 'DSR-TIANJIN',
 'Cayman Islands-flagged tanker MID EAGLE',
 'NORDISLE',
 'CHEMICAL CARRIER:STOLT EAGLE',
 'Panama-flagged cargo ship SUPER STAR',
 'Fishing vessel',
 'DANISH VESSEL',
 'SEA BIRD',
 'CITY OF LIMASSOL.',
 'M/V ELM',
 'TUG SURYA WIRA 5',
 'GEFION',
 'SURVEY VESSEL',
 'CRUISE SHIP',
 'HELIOS RAY',
 'Motor vessel',
 'Hong Kong-flagged bulk carrier SEACON 8',
 'South Korea-flagged bulk carrier CH DORIS',
 'Indonesia-flagged fishing vessel KM MULYA JAYA RC',
 'Greece-flagged tanker AEGEAN ANGEL',
 'UNIDENTIFIED SHIP',
 'TAnker',
 'Tanker Vessel',
 'RATHROWAN',
 'LILIANA DIMITROVA',
 'BULK CARGO',
 'AUDACIOUS',
 'GRAIGWERDD',
 'fisheries patrol vessel BOB BARKER',
 'Container vessel BAHMAS',
 'M/V PRESIDENT',
 'Bulk carrier underway',
 'ALL SHIPS',
 'Passenger Vessel',
 'TANKER THERESA',
 'Hong Kong-flagged VLCC NAVE CONSTELLATION',
 'TANKER ISLAND SPLENDOR',
 'DIVING VESSEL',
 'CARGO VESSEL',
 'OCEAN LEADER',
 'M/V SANTA MONICA',
 'Malta-flagged tanker MEGALI',
 'OCEAN SILVER',
 'Marshall Islands-flagged bulk carrier PACIFIC WEST',
 'TIRTA NIAGA IV',
 'BARGE IN TOW',
 'PACORA',
 'CARGO SHIP KOTA BAHAGIA',
 'M/V PIVOT',
 'M/V KAYAX',
 'Yacht anchored in Rio Dulce',
 'FERRY',
 'FLYING OFFICER NIRMAL JIT SINGH SEKHON P',
 'ELOBEY 6',
 'Panama-flagged bulk carrier SAKIZAYA CHAMPION',
 'M/V BETELGEUSE',
 'MV CAPTAIN USKOV',
 'OYSTER BAY',
 'Catamaran at anchor',
 'Bulk carrier RB EDEN',
 'KILCHEM OCEANIA',
 'M/V MELGAR',
 'SUPPLY SHIP NOR CHIEF',
 'Anchored general cargo ship',
 'Panama-flagged general cargo ship HAI XING',
 'FENG YU NO. 1132',
 'CARIA',
 'IBN QUTAIBAH',
 'M/V UKRAINE',
 'ZOELLA LYKES',
 'SUPPLY VESSEL MDPL CONTINENTAL ONE',
 'MILITARY VESSELS',
 'NIKINSKY',
 'Bulk freighter',
 'Bunkering Vessels',
 'M/V MARINE PEACE',
 'CSAV RUNGUE',
 'CONATAINER SHIP',

In [9]:
df['victim'].nunique()

1588

In [2]:
df.info()

NameError: name 'df' is not defined

### Split postion into Lat/Lon in prep for conversion to decimal degrees

In [ ]:
df = df.join(df['position'].str.split(expand=True)).rename(columns={0:'latitude', 1:'longitude'})
df.drop('position', axis=1, inplace=True)

In [ ]:
df.head(1)

In [ ]:
def dms2dd(field):
    # example: s = """0°51'56.29"S"""
    degrees, minutes, seconds, direction = re.split('[°\'"]+', field)
    dd = float(degrees) + float(minutes)/60 + float(seconds)/(60*60);
    if direction in ('S','W'):
        dd*= -1
    return dd

In [ ]:
df['latitude'] = df['latitude'].apply(dms2dd).round(6)
df['longitude'] = df['longitude'].apply(dms2dd).round(6)
df.head(4)

### What's up with the 'hostility' column?

In [ ]:
df['hostility'].value_counts()[100:150]

### Under 'hostility' - how many different terms are there?

In [ ]:
df['hostility'].nunique()

### Under 'victim' - how many different terms are there?

In [ ]:
df['victim'].nunique()

In [ ]:
df['victim'].value_counts()[900:950]

### Convert datetime to just the year for a slider

In [ ]:
df['date2'] = pd.to_datetime(df['date'], format='%Y/%m/%d')
df.head(1)

In [ ]:
df['year'] = pd.DatetimeIndex(df['date2']).year
df["date"] = pd.to_datetime(df["date2"])

df = df[['reference', 'latitude', 'longitude', 'date', 'year', 'description', 'hostility', 'victim', 'navArea', 'subreg' ]]

# sanity check
df

### Right, the NaNs would mess things up. Let's convert them to something that can be parsed later

In [ ]:
df.fillna("No information", inplace=True)
df.isnull().sum().sum()
df

In [ ]:
os.makedirs('../data/in_progress', exist_ok=True)  

df.to_csv('../data/in_progress/v1_lat_long.csv')

# Future work

- [x] Remove the excess spaces in the description column.


- [X] Fix the 'reference' column values
    - [x] contact NGA and see if this would be of interest (**working**)
    

- [ ] Regularize the 'hostility' columns values - easy first pass would be to trust the data ruthlessly pare down the columns


- [ ] Regularize the 'victim' columns values  - easy first pass would be to trust the data ruthlessly pare down the columns


- [ ] NLP model to set the hostility and possibly victim columns

# <center>Remove the excess spaces in the 'description' column</center>


The excel file for the description has a lot a weird spacing. Does that show here?

* *Why, yes it does.* But it only shows if you have a wide column width

Also, another plug for `skipinitialspace = True` flag without it you need to add `df.hostility = df.hostility.str.lstrip()`

In [ ]:
pd.set_option('display.max_colwidth', None)
df['description'][df["reference"]=='1991-21']

In [ ]:
df

In [ ]:
df.replace('\s+', ' ',regex=True,inplace=True)

In [ ]:
# OK, that seems to have done it.
#df

In [ ]:
df.groupby(pd.Grouper(key="date")).mean()
# gp = gp.divide(gp.sum(axis=1), axis=0).multiply(100)
df

# <center>Fix the 'reference' number column values</center>

In [ ]:
df['reference'] = (df['date'].dt.year.astype(str) + '-' + (df.sort_values('date')
                    .groupby(df['date'].dt.year).cumcount()+1).astype(str))

In [ ]:
df

# <center>Regularize the 'hostility' columns values</center>

This is tricky and I think and NLP approach will be the better overall but in terms of getting something out the door, I think this is fine.

In [ ]:
def hostilities(df):
    h = df.hostility.unique()
    h.sort()
    print(h)

def body_count(df):
    return df.hostility.nunique()

In [ ]:
first_cut = body_count(df)
first_cut

In [ ]:
hostilities(df)

### Nobody can spell ~~SIUSPICIOUS~~, ~~suspicous~~, ~~SUS\[ICIOUS~~, ~~SUSPIPICIOUS~~ suspicious

In [ ]:
#df[df["hostility"].str.contains(r"^Su(s|c)(p|])", regex=True, case=False)]

df.hostility = df.hostility.str.lstrip()
df['hostility'] = df['hostility'].str.replace(r'(?i)^Su[sc][][p][ie].*', 'Suspicious Approach', regex=True)

In [ ]:
second_cut = body_count(df)
print(f" This took us from {first_cut} to {second_cut}")

### Protestors and Stoaways seem simple

In [ ]:
df['hostility'] = df['hostility'].str.replace(r'(?i)Protest.*', 'Protest', regex=True)
df['hostility'] = df['hostility'].str.replace(r'(?i)Stow.*', 'Stowaway', regex=True)

In [ ]:
third_cut = body_count(df)
print(f" This took us from {second_cut} to {third_cut}")

### A whole lot of robberies to take care of

Note:
Creating an extra column:

```
df['Robbery?'] = df["hostility"].str.contains("robbe*", case=False, na=False).astype(int)
``` 
followed by:
```
df.loc[df["hostility"].str.contains("robbe", case=False, na=False)] = "OMG! A ROBBERY!"
```
was a good way to make sure to step though things.

In [ ]:
88888888 ----------->>>  stopping point  <<<------------- 8888888

In [ ]:
df.loc[df["hostility"].str.contains("robbe", case=False, na=False)] = "Robbery"

Oddly enough there is no 'Piracy' category in a database on pirates. The categories are:

- Attempted Boarding – Close approach or hull-to-hull contact with report that boarding
paraphernalia were employed or visible in the approaching boat.
- Blocking – Hampering safe navigation, docking, or undocking of a vessel as a means of protest.
- Boarding – Unauthorized embarkation of a vessel by persons not part of its complement without
successfully taking control of the vessel.
- Fired Upon – Weapons discharged at or toward a vessel.
- Hijacking – Unauthorized seizure and retention of a vessel by persons not part of its complement.
- Kidnapping – Unauthorized forcible removal of persons belonging to the vessel from it.
- Hijacking/Kidnapping Combination – Unauthorized seizure and retention of a vessel by persons not
- Robbery – Theft from a vessel or from persons aboard the vessel.
- Suspicious Approach

In [ ]:
df.loc[df["hostility"].str.contains("Pirate*", case=False, na=False)] = "OOOOHHHH Pirates!"

In [ ]:
df['hostility'].nunique()

In [ ]:
os.makedirs('../data/in_progress', exist_ok=True)  

df.to_csv('../data/in_progress/v1_lat_long.csv')