In [1]:
ls

Modern_NLP_in_Python.ipynb       step2_importingJSON_Spacy.ipynb
step1_munging_and_eda.ipynb

In [2]:
import os
import codecs
import json
import spacy
import pandas as pd
import itertools as it

In [3]:
data_directory = os.path.join('../data', 'mungedASAM.json')

In [4]:
events = [i for i in range(7843)]
events;

In [5]:
event_ids = set(events);

### This works but I think might be slower

In [6]:
event_descriptions=set()
data_directory=os.path.join('../data', 'mungedASAM.json')  
with codecs.open(data_directory, encoding='utf_8') as f:
     for event_json in f:
        event = json.loads(event_json)
        for item in event:         
           event_descriptions.add(item[u'description'])

### Than this

In [7]:
intermediate_directory = os.path.join('../data')

event_txt_filepath = os.path.join(intermediate_directory,
                                   'all_descriptions.txt')

In [8]:
#event_descriptions

In [9]:
%%time

# this took a while. make the if statement True to run; otherwise keep it off.

if 1 == 1:
    
    count = 0

    with codecs.open(event_txt_filepath, 'w', encoding='utf_8') as event_txt_file:
        with codecs.open(data_directory, encoding='utf_8') as event_json_file:
            for event_json in event_json_file:                
                event = json.loads(event_json)
                for item in event:
                    event_txt_file.write(item[u'description'].replace('\n', '\\n') + '\n')
                    count += 1
    
else:
    
    with codecs.open(event_txt_filepath, encoding='utf_8') as event_txt_file:
        for event_count, line in enumerate(event_txt_file):
            pass

CPU times: user 2.28 s, sys: 365 ms, total: 2.65 s
Wall time: 2.65 s

In [10]:
nlp = spacy.load('en')

### Let's get something going

In [11]:
with codecs.open(event_txt_filepath, encoding='utf_8') as f:
    sample_review = list(it.islice(f, 8, 9))[0]
    sample_review = sample_review.replace('\\n', '\n')
        
print (sample_review)

PANAMA: On 13 July, a monohull with two persons onboard departed Linton Bay, Panama, for the San Blas Islands, Panama. Engine issues caused the yacht to make an unplanned stop in Bahia Nombre de Dios, where no other boats were anchored. The necessary repairs were completed but the hour was late and entering the San Blas in the dark was not an option. The crew planned to lock themselves in securely for the night. They were down below and surprised just after sunset by noise on deck. The captain went up to the cockpit and was ambushed and then restrained by two swimmers who had boarded and concealed themselves behind opposite sides of the spray hood. Immediately a boat with four other men arrived and the captain was held at gunpoint. For 45 minutes the men ransacked and inspected every space in the yacht, stealing cash, credit cards, phones, cameras and video equipment, laptops, a drone, and other items. Some of the men appeared to be high on drugs and were only marginally under the control of the armed leader. Two of the men forced the crew member back into a cabin and indicated they intended to rape her, but the leader prevented this. Once they had collected all things of value, all six men departed in their boat.  (wwwsafetyandsecuritynetorg)

In [12]:
%%time
parsed_review = nlp(sample_review)

CPU times: user 58.3 ms, sys: 4.94 ms, total: 63.3 ms
Wall time: 62.1 ms

In [13]:
for num, sentence in enumerate(parsed_review.sents):
    print ('Sentence {}:'.format(num + 1))
    print (sentence)
    print ('')

Sentence 1:
PANAMA:

Sentence 2:
On 13 July, a monohull with two persons onboard departed Linton Bay, Panama, for the San Blas Islands, Panama.

Sentence 3:
Engine issues caused the yacht to make an unplanned stop in Bahia Nombre de Dios, where no other boats were anchored.

Sentence 4:
The necessary repairs were completed but the hour was late and entering the San Blas in the dark was not an option.

Sentence 5:
The crew planned to lock themselves in securely for the night.

Sentence 6:
They were down below and surprised just after sunset by noise on deck.

Sentence 7:
The captain went up to the cockpit and was ambushed and then restrained by two swimmers who had boarded and concealed themselves behind opposite sides of the spray hood.

Sentence 8:
Immediately a boat with four other men arrived and the captain was held at gunpoint.

Sentence 9:
For 45 minutes the men ransacked and inspected every space in the yacht, stealing cash, credit cards, phones, cameras and video equipment, laptops, a drone, and other items.

Sentence 10:
Some of the men appeared to be high on drugs and were only marginally under the control of the armed leader.

Sentence 11:
Two of the men forced the crew member back into a cabin and indicated they intended to rape her, but the leader prevented this.

Sentence 12:
Once they had collected all things of value, all six men departed in their boat.

Sentence 13:
(wwwsafetyandsecuritynetorg)

In [14]:
for num, entity in enumerate(parsed_review.ents):
    print ('Entity {}:'.format(num + 1), entity, '-', entity.label_)
    print ('')

Entity 1: 13 July - DATE

Entity 2: two - CARDINAL

Entity 3: Linton Bay - PERSON

Entity 4: Panama - GPE

Entity 5: the San Blas Islands - LOC

Entity 6: Panama - GPE

Entity 7: Bahia Nombre de Dios - ORG

Entity 8: the hour - TIME

Entity 9: the San Blas - LOC

Entity 10: the night - TIME

Entity 11: two - CARDINAL

Entity 12: four - CARDINAL

Entity 13: 45 minutes - TIME

Entity 14: Two - CARDINAL

Entity 15: six - CARDINAL

In [15]:
token_text = [token.orth_ for token in parsed_review]
token_pos = [token.pos_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_pos),
             columns=['token_text', 'part_of_speech'])

                     token_text part_of_speech
0                        PANAMA           NOUN
1                             :          PUNCT
2                            On            ADP
3                            13            NUM
4                          July          PROPN
..                          ...            ...
245                                      SPACE
246                           (          PUNCT
247  wwwsafetyandsecuritynetorg          PROPN
248                           )          PUNCT
249                          \n          SPACE

[250 rows x 2 columns]

In [16]:
token_lemma = [token.lemma_ for token in parsed_review]
token_shape = [token.shape_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_lemma, token_shape),
             columns=['token_text', 'token_lemma', 'token_shape'])

                     token_text                 token_lemma token_shape
0                        PANAMA                      panama        XXXX
1                             :                           :           :
2                            On                          on          Xx
3                            13                          13          dd
4                          July                        July        Xxxx
..                          ...                         ...         ...
245
246                           (                           (           (
247  wwwsafetyandsecuritynetorg  wwwsafetyandsecuritynetorg        xxxx
248                           )                           )           )
249                          \n                          \n          \n

[250 rows x 3 columns]

In [17]:
token_entity_type = [token.ent_type_ for token in parsed_review]
token_entity_iob = [token.ent_iob_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_entity_type, token_entity_iob),
             columns=['token_text', 'entity_type', 'inside_outside_begin'])

                     token_text entity_type inside_outside_begin
0                        PANAMA                                O
1                             :                                O
2                            On                                O
3                            13        DATE                    B
4                          July        DATE                    I
..                          ...         ...                  ...
245                                                            O
246                           (                                O
247  wwwsafetyandsecuritynetorg                                O
248                           )                                O
249                          \n                                O

[250 rows x 3 columns]

In [18]:
token_attributes = [(token.orth_,
                     token.prob,
                     token.is_stop,
                     token.is_punct,
                     token.is_space,
                     token.like_num,
                     token.is_oov)
                    for token in parsed_review]

df = pd.DataFrame(token_attributes,
                  columns=['text',
                           'log_probability',
                           'stop?',
                           'punctuation?',
                           'whitespace?',
                           'number?',
                           'out of vocab.?'])

df.loc[:, 'stop?':'out of vocab.?'] = (df.loc[:, 'stop?':'out of vocab.?']
                                       .applymap(lambda x: u'Yes' if x else u''))
                                               
df

,text,log_probability,stop?,punctuation?,whitespace?,number?,out of vocab.?
0,PANAMA,-20.0,,,,,Yes
1,:,-20.0,,Yes,,,Yes
2,On,-20.0,Yes,,,,Yes
3,13,-20.0,,,,Yes,Yes
4,July,-20.0,,,,,Yes
...,...,...,...,...,...,...,...
245,,-20.0,,,Yes,,Yes
246,(,-20.0,,Yes,,,Yes
247,wwwsafetyandsecuritynetorg,-20.0,,,,,Yes
248,),-20.0,,Yes,,,Yes
249,\n,-20.0,,,Yes,,Yes

In [19]:
from gensim.models import Phrases
from gensim.models.word2vec import LineSentence

In [20]:
def punct_space(token):
    """
    helper function to eliminate tokens
    that are pure punctuation or whitespace
    """
    
    return token.is_punct or token.is_space

def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    
    with codecs.open(filename, encoding='utf_8') as f:
        for review in f:
            yield review.replace('\\n', '\n')
            
def lemmatized_sentence_corpus(filename):
    """
    generator function to use spaCy to parse reviews,
    lemmatize the text, and yield sentences
    """
    
    for parsed_review in nlp.pipe(line_review(filename),
                                  batch_size=10000, n_threads=4): # I have an old macbook. But I love it.
        
        for sent in parsed_review.sents:
            yield u' '.join([token.lemma_ for token in sent
                             if not punct_space(token)])

In [21]:
unigram_sentences_filepath = os.path.join(intermediate_directory,
                                          'unigram_sentences_all.txt')

In [22]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(unigram_sentences_filepath, 'w', encoding='utf_8') as f:
        for sentence in lemmatized_sentence_corpus(event_txt_filepath):
            f.write(sentence + '\n')

CPU times: user 58.6 s, sys: 15.1 s, total: 1min 13s
Wall time: 1min 13s

In [23]:
unigram_sentences = LineSentence(unigram_sentences_filepath)

In [24]:
for unigram_sentence in it.islice(unigram_sentences, 230, 240):
    print (u' '.join(unigram_sentence))
    print (u'')

IMB

peru

on 14 April five robber board a bulk carrier near position 12 01s 077 11w Callao Anchorage

a duty crewman on routine round be beat

alarm be raise and crew muster

see the alert crew the robber escape with the duty crewman¿s personal belonging

Incident report to local authority who board the vessel for further investigation

IMB

TRINIDAD and tobago

on 14 April a 53-ft u.s.flagged mono hull transiting from Trinidad to Grenada with two person onboard be approach by 8 pirate in an open piroque near position 11 24n 061 36w 16 nm north northeast of the Hibiscus gas platform and 37 mile south of Grenada

In [25]:
bigram_model_filepath = os.path.join(intermediate_directory, 'bigram_model_all')

In [26]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute modeling yourself.
if 1 == 1:

    bigram_model = Phrases(unigram_sentences)

    bigram_model.save(bigram_model_filepath)
    
# load the finished model from disk
bigram_model = Phrases.load(bigram_model_filepath)

CPU times: user 1.17 s, sys: 31.9 ms, total: 1.2 s
Wall time: 1.2 s

In [27]:
bigram_sentences_filepath = os.path.join(intermediate_directory,
                                         'bigram_sentences_all.txt')

In [29]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(bigram_sentences_filepath, 'w', encoding='utf_8') as f:
        
        for unigram_sentence in unigram_sentences:
            
            bigram_sentence = u' '.join(bigram_model[unigram_sentence])
            
            f.write(bigram_sentence + '\n')

CPU times: user 2 s, sys: 18.4 ms, total: 2.02 s
Wall time: 2.02 s

In [30]:
bigram_sentences = LineSentence(bigram_sentences_filepath)

In [31]:
for bigram_sentence in it.islice(bigram_sentences, 230, 240):
    print (u' '.join(bigram_sentence))
    print (u'')

IMB

peru

on 14 April five robber board a bulk_carrier near_position 12_01s 077_11w Callao_Anchorage

a duty_crewman on_routine round be beat

alarm be raise and crew_muster

see the alert_crew the robber escape with the duty crewman¿s personal_belonging

Incident_report to local authority who board the vessel for further_investigation

IMB

TRINIDAD and tobago

on 14 April a 53-ft u.s.flagged mono hull transiting from Trinidad to Grenada with two person onboard be approach by 8 pirate in an open piroque near_position 11 24n 061 36w 16 nm_north northeast_of the Hibiscus gas platform and 37 mile_south of Grenada