In [1]:
ls

Modern_NLP_in_Python.ipynb       step2_importingJSON_Spacy.ipynb
step1_munging_and_eda.ipynb

In [2]:
import os
import codecs
import json
import spacy
import pandas as pd
import itertools as it

In [3]:
data_directory = os.path.join('../data', 'mungedASAM.json')

In [4]:
events = [i for i in range(7843)]
events;

In [5]:
event_ids = set(events);

### This works but I think might be slower

In [6]:
event_descriptions=set()
data_directory=os.path.join('../data', 'mungedASAM.json')  
with codecs.open(data_directory, encoding='utf_8') as f:
     for event_json in f:
        event = json.loads(event_json)
        for item in event:         
           event_descriptions.add(item[u'description'])

### Than this

In [7]:
intermediate_directory = os.path.join('../data')

event_txt_filepath = os.path.join(intermediate_directory,
                                   'all_descriptions.txt')

In [8]:
#event_descriptions

In [9]:
%%time

# this took a while. make the if statement True to run; otherwise keep it off.

if 1 == 1:
    
    count = 0

    with codecs.open(event_txt_filepath, 'w', encoding='utf_8') as event_txt_file:
        with codecs.open(data_directory, encoding='utf_8') as event_json_file:
            for event_json in event_json_file:                
                event = json.loads(event_json)
                for item in event:
                    event_txt_file.write(item[u'description'].replace('\n', '\\n') + '\n')
                    count += 1
    
else:
    
    with codecs.open(event_txt_filepath, encoding='utf_8') as event_txt_file:
        for event_count, line in enumerate(event_txt_file):
            pass

CPU times: user 2.29 s, sys: 363 ms, total: 2.65 s
Wall time: 2.65 s

In [10]:
nlp = spacy.load('en')

### Let's get something going

In [11]:
with codecs.open(event_txt_filepath, encoding='utf_8') as f:
    sample_review = list(it.islice(f, 8, 9))[0]
    sample_review = sample_review.replace('\\n', '\n')
        
print (sample_review)

PANAMA: On 13 July, a monohull with two persons onboard departed Linton Bay, Panama, for the San Blas Islands, Panama. Engine issues caused the yacht to make an unplanned stop in Bahia Nombre de Dios, where no other boats were anchored. The necessary repairs were completed but the hour was late and entering the San Blas in the dark was not an option. The crew planned to lock themselves in securely for the night. They were down below and surprised just after sunset by noise on deck. The captain went up to the cockpit and was ambushed and then restrained by two swimmers who had boarded and concealed themselves behind opposite sides of the spray hood. Immediately a boat with four other men arrived and the captain was held at gunpoint. For 45 minutes the men ransacked and inspected every space in the yacht, stealing cash, credit cards, phones, cameras and video equipment, laptops, a drone, and other items. Some of the men appeared to be high on drugs and were only marginally under the control of the armed leader. Two of the men forced the crew member back into a cabin and indicated they intended to rape her, but the leader prevented this. Once they had collected all things of value, all six men departed in their boat.  (wwwsafetyandsecuritynetorg)

In [12]:
%%time
parsed_review = nlp(sample_review)

CPU times: user 56.2 ms, sys: 5.37 ms, total: 61.6 ms
Wall time: 60.2 ms

In [13]:
for num, sentence in enumerate(parsed_review.sents):
    print ('Sentence {}:'.format(num + 1))
    print (sentence)
    print ('')

Sentence 1:
PANAMA:

Sentence 2:
On 13 July, a monohull with two persons onboard departed Linton Bay, Panama, for the San Blas Islands, Panama.

Sentence 3:
Engine issues caused the yacht to make an unplanned stop in Bahia Nombre de Dios, where no other boats were anchored.

Sentence 4:
The necessary repairs were completed but the hour was late and entering the San Blas in the dark was not an option.

Sentence 5:
The crew planned to lock themselves in securely for the night.

Sentence 6:
They were down below and surprised just after sunset by noise on deck.

Sentence 7:
The captain went up to the cockpit and was ambushed and then restrained by two swimmers who had boarded and concealed themselves behind opposite sides of the spray hood.

Sentence 8:
Immediately a boat with four other men arrived and the captain was held at gunpoint.

Sentence 9:
For 45 minutes the men ransacked and inspected every space in the yacht, stealing cash, credit cards, phones, cameras and video equipment, laptops, a drone, and other items.

Sentence 10:
Some of the men appeared to be high on drugs and were only marginally under the control of the armed leader.

Sentence 11:
Two of the men forced the crew member back into a cabin and indicated they intended to rape her, but the leader prevented this.

Sentence 12:
Once they had collected all things of value, all six men departed in their boat.

Sentence 13:
(wwwsafetyandsecuritynetorg)

In [14]:
for num, entity in enumerate(parsed_review.ents):
    print ('Entity {}:'.format(num + 1), entity, '-', entity.label_)
    print ('')

Entity 1: 13 July - DATE

Entity 2: two - CARDINAL

Entity 3: Linton Bay - PERSON

Entity 4: Panama - GPE

Entity 5: the San Blas Islands - LOC

Entity 6: Panama - GPE

Entity 7: Bahia Nombre de Dios - ORG

Entity 8: the hour - TIME

Entity 9: the San Blas - LOC

Entity 10: the night - TIME

Entity 11: two - CARDINAL

Entity 12: four - CARDINAL

Entity 13: 45 minutes - TIME

Entity 14: Two - CARDINAL

Entity 15: six - CARDINAL

In [15]:
token_text = [token.orth_ for token in parsed_review]
token_pos = [token.pos_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_pos),
             columns=['token_text', 'part_of_speech'])

                     token_text part_of_speech
0                        PANAMA           NOUN
1                             :          PUNCT
2                            On            ADP
3                            13            NUM
4                          July          PROPN
..                          ...            ...
245                                      SPACE
246                           (          PUNCT
247  wwwsafetyandsecuritynetorg          PROPN
248                           )          PUNCT
249                          \n          SPACE

[250 rows x 2 columns]

In [16]:
token_lemma = [token.lemma_ for token in parsed_review]
token_shape = [token.shape_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_lemma, token_shape),
             columns=['token_text', 'token_lemma', 'token_shape'])

                     token_text                 token_lemma token_shape
0                        PANAMA                      panama        XXXX
1                             :                           :           :
2                            On                          on          Xx
3                            13                          13          dd
4                          July                        July        Xxxx
..                          ...                         ...         ...
245
246                           (                           (           (
247  wwwsafetyandsecuritynetorg  wwwsafetyandsecuritynetorg        xxxx
248                           )                           )           )
249                          \n                          \n          \n

[250 rows x 3 columns]

In [17]:
token_entity_type = [token.ent_type_ for token in parsed_review]
token_entity_iob = [token.ent_iob_ for token in parsed_review]

pd.DataFrame(zip(token_text, token_entity_type, token_entity_iob),
             columns=['token_text', 'entity_type', 'inside_outside_begin'])

                     token_text entity_type inside_outside_begin
0                        PANAMA                                O
1                             :                                O
2                            On                                O
3                            13        DATE                    B
4                          July        DATE                    I
..                          ...         ...                  ...
245                                                            O
246                           (                                O
247  wwwsafetyandsecuritynetorg                                O
248                           )                                O
249                          \n                                O

[250 rows x 3 columns]

In [18]:
token_attributes = [(token.orth_,
                     token.prob,
                     token.is_stop,
                     token.is_punct,
                     token.is_space,
                     token.like_num,
                     token.is_oov)
                    for token in parsed_review]

df = pd.DataFrame(token_attributes,
                  columns=['text',
                           'log_probability',
                           'stop?',
                           'punctuation?',
                           'whitespace?',
                           'number?',
                           'out of vocab.?'])

df.loc[:, 'stop?':'out of vocab.?'] = (df.loc[:, 'stop?':'out of vocab.?']
                                       .applymap(lambda x: u'Yes' if x else u''))
                                               
df

,text,log_probability,stop?,punctuation?,whitespace?,number?,out of vocab.?
0,PANAMA,-20.0,,,,,Yes
1,:,-20.0,,Yes,,,Yes
2,On,-20.0,Yes,,,,Yes
3,13,-20.0,,,,Yes,Yes
4,July,-20.0,,,,,Yes
...,...,...,...,...,...,...,...
245,,-20.0,,,Yes,,Yes
246,(,-20.0,,Yes,,,Yes
247,wwwsafetyandsecuritynetorg,-20.0,,,,,Yes
248,),-20.0,,Yes,,,Yes
249,\n,-20.0,,,Yes,,Yes

In [19]:
from gensim.models import Phrases
from gensim.models.word2vec import LineSentence

In [20]:
def punct_space(token):
    """
    helper function to eliminate tokens
    that are pure punctuation or whitespace
    """
    
    return token.is_punct or token.is_space

def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    
    with codecs.open(filename, encoding='utf_8') as f:
        for review in f:
            yield review.replace('\\n', '\n')
            
def lemmatized_sentence_corpus(filename):
    """
    generator function to use spaCy to parse reviews,
    lemmatize the text, and yield sentences
    """
    
    for parsed_review in nlp.pipe(line_review(filename),
                                  batch_size=10000, n_threads=4): # I have an old macbook. But I love it.
        
        for sent in parsed_review.sents:
            yield u' '.join([token.lemma_ for token in sent
                             if not punct_space(token)])

In [21]:
unigram_sentences_filepath = os.path.join(intermediate_directory,
                                          'unigram_sentences_all.txt')

In [22]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(unigram_sentences_filepath, 'w', encoding='utf_8') as f:
        for sentence in lemmatized_sentence_corpus(event_txt_filepath):
            f.write(sentence + '\n')

CPU times: user 57.8 s, sys: 14.5 s, total: 1min 12s
Wall time: 1min 12s

In [23]:
unigram_sentences = LineSentence(unigram_sentences_filepath)

In [24]:
for unigram_sentence in it.islice(unigram_sentences, 230, 240):
    print (u' '.join(unigram_sentence))
    print (u'')

IMB

peru

on 14 April five robber board a bulk carrier near position 12 01s 077 11w Callao Anchorage

a duty crewman on routine round be beat

alarm be raise and crew muster

see the alert crew the robber escape with the duty crewman¿s personal belonging

Incident report to local authority who board the vessel for further investigation

IMB

TRINIDAD and tobago

on 14 April a 53-ft u.s.flagged mono hull transiting from Trinidad to Grenada with two person onboard be approach by 8 pirate in an open piroque near position 11 24n 061 36w 16 nm north northeast of the Hibiscus gas platform and 37 mile south of Grenada

In [25]:
bigram_model_filepath = os.path.join(intermediate_directory, 'bigram_model_all')

In [26]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute modeling yourself.
if 1 == 1:

    bigram_model = Phrases(unigram_sentences)

    bigram_model.save(bigram_model_filepath)
    
# load the finished model from disk
bigram_model = Phrases.load(bigram_model_filepath)

CPU times: user 1.16 s, sys: 33.7 ms, total: 1.2 s
Wall time: 1.19 s

In [27]:
bigram_sentences_filepath = os.path.join(intermediate_directory,
                                         'bigram_sentences_all.txt')

In [28]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(bigram_sentences_filepath, 'w', encoding='utf_8') as f:
        
        for unigram_sentence in unigram_sentences:
            
            bigram_sentence = u' '.join(bigram_model[unigram_sentence])
            
            f.write(bigram_sentence + '\n')

CPU times: user 2.07 s, sys: 19.6 ms, total: 2.09 s
Wall time: 2.09 s

In [29]:
bigram_sentences = LineSentence(bigram_sentences_filepath)

In [30]:
for bigram_sentence in it.islice(bigram_sentences, 230, 240):
    print (u' '.join(bigram_sentence))
    print (u'')

IMB

peru

on 14 April five robber board a bulk_carrier near_position 12_01s 077_11w Callao_Anchorage

a duty_crewman on_routine round be beat

alarm be raise and crew_muster

see the alert_crew the robber escape with the duty crewman¿s personal_belonging

Incident_report to local authority who board the vessel for further_investigation

IMB

TRINIDAD and tobago

on 14 April a 53-ft u.s.flagged mono hull transiting from Trinidad to Grenada with two person onboard be approach by 8 pirate in an open piroque near_position 11 24n 061 36w 16 nm_north northeast_of the Hibiscus gas platform and 37 mile_south of Grenada

In [31]:
trigram_model_filepath = os.path.join(intermediate_directory, 'trigram_model_all')

In [32]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute modeling yourself.
if 1 == 1:

    trigram_model = Phrases(bigram_sentences)

    trigram_model.save(trigram_model_filepath)
    
# load the finished model from disk
trigram_model = Phrases.load(trigram_model_filepath)

CPU times: user 1.13 s, sys: 29.3 ms, total: 1.16 s
Wall time: 1.16 s

In [33]:
trigram_sentences_filepath = os.path.join(intermediate_directory, 'trigram_sentences_all.txt')

In [34]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(trigram_sentences_filepath, 'w', encoding='utf_8') as f:
        
        for bigram_sentence in bigram_sentences:
            
            trigram_sentence = u' '.join(trigram_model[bigram_sentence])
            
            f.write(trigram_sentence + '\n')

CPU times: user 1.97 s, sys: 21 ms, total: 1.99 s
Wall time: 1.99 s

In [35]:
trigram_sentences = LineSentence(trigram_sentences_filepath)

In [36]:
for trigram_sentence in it.islice(trigram_sentences, 230, 240):
    print (u' '.join(trigram_sentence))
    print (u'')

IMB

peru

on 14 April five robber board a bulk_carrier near_position_12_01s 077_11w Callao_Anchorage

a duty_crewman_on_routine round be beat

alarm be raise and crew_muster

see the alert_crew the robber escape_with the duty crewman¿s personal_belonging

Incident_report_to local_authority who board the vessel for_further_investigation

IMB

TRINIDAD and tobago

on 14 April a 53-ft u.s.flagged mono hull transiting from Trinidad to Grenada with two person_onboard be approach by 8 pirate in an open piroque near_position 11 24n 061 36w 16 nm_north_northeast_of the Hibiscus gas platform and 37 mile_south_of Grenada

In [37]:
trigram_reviews_filepath = os.path.join(intermediate_directory, 'trigram_transformed_reviews_all.txt')

In [50]:
!python -m spacy download en
spacy.load('en')

Requirement already satisfied: en_core_web_sm==2.2.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm==2.2.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (2.2.0)
Requirement already satisfied: spacy>=2.2.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from en_core_web_sm==2.2.0) (2.2.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (3.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (1.0.2)
Requirement already satisfied: srsly<1.1.0,>=0.1.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (0.1.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (0.20)
Requirement already satisfied: thinc<7.4.0,>=7.3.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (7.3.1)
Requirement already satisfied: numpy>=1.15.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (1.17.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (2.22.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (0.9.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (0.4.1)
Requirement already satisfied: setuptools in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (41.6.0.post20191030)
Requirement already satisfied: wasabi<1.1.0,>=0.3.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (0.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/alex/anaconda3/lib/python3.7/site-packages (from spacy>=2.2.0->en_core_web_sm==2.2.0) (2.0.2)
Requirement already satisfied: zipp>=0.5 in /Users/alex/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->spacy>=2.2.0->en_core_web_sm==2.2.0) (0.6.0)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /Users/alex/anaconda3/lib/python3.7/site-packages (from thinc<7.4.0,>=7.3.0->spacy>=2.2.0->en_core_web_sm==2.2.0) (4.35.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/alex/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en_core_web_sm==2.2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/alex/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en_core_web_sm==2.2.0) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/alex/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en_core_web_sm==2.2.0) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/alex/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.0->en_core_web_sm==2.2.0) (1.25.3)
Requirement already satisfied: more-itertools in /Users/alex/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata>=0.20; python_version < "3.8"->spacy>=2.2.0->en_core_web_sm==2.2.0) (7.2.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')
✔ Linking successful
/Users/alex/anaconda3/lib/python3.7/site-packages/en_core_web_sm -->
/Users/alex/anaconda3/lib/python3.7/site-packages/spacy/data/en
You can now load the model via spacy.load('en')

In [51]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(trigram_reviews_filepath, 'w', encoding='utf_8') as f:
        
        for parsed_review in nlp.pipe(line_review(event_txt_filepath),
                                      batch_size=10000, n_threads=4):
            
            # lemmatize the text, removing punctuation and whitespace
            unigram_review = [token.lemma_ for token in parsed_review
                              if not punct_space(token)]
            
            # apply the first-order and second-order phrase models
            bigram_review = bigram_model[unigram_review]
            trigram_review = trigram_model[bigram_review]
            
            # remove any remaining stopwords
            trigram_review = [term for term in trigram_review
                              if term not in spacy.en.STOPWORDS]
            
            # write the transformed review as a line in the new file
            trigram_review = u' '.join(trigram_review)
            f.write(trigram_review + '\n')

/Users/alex/anaconda3/lib/python3.7/runpy.py:193: DeprecationWarning: [W016] The keyword argument `n_threads` on the is now deprecated, as the v2.x models cannot release the global interpreter lock. Future versions may introduce a `n_process` argument for parallel inference via multiprocessing.
  "__main__", mod_spec)

AttributeError: module 'spacy' has no attribute 'en'

### This wasn't all that helpful. Bigrams were ok. Might work with some more training.

In [52]:
from gensim.corpora import Dictionary, MmCorpus
from gensim.models.ldamulticore import LdaMulticore

import pyLDAvis
import pyLDAvis.gensim
import warnings
import pickle

In [53]:
trigram_dictionary_filepath = os.path.join(intermediate_directory, 'trigram_dict_all.dict')

In [42]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to learn the dictionary yourself.
if 1 == 1:

    trigram_reviews = LineSentence(trigram_reviews_filepath)

    # learn the dictionary by iterating over all of the reviews
    trigram_dictionary = Dictionary(trigram_reviews)
    
    # filter tokens that are very rare or too common from
    # the dictionary (filter_extremes) and reassign integer ids (compactify)
    trigram_dictionary.filter_extremes(no_below=2, no_above=0.01)
    trigram_dictionary.compactify()

    trigram_dictionary.save(trigram_dictionary_filepath)
    
# load the finished dictionary from disk
trigram_dictionary = Dictionary.load(trigram_dictionary_filepath)

CPU times: user 929 µs, sys: 1.32 ms, total: 2.25 ms
Wall time: 1.31 ms

In [43]:
trigram_bow_filepath = os.path.join(intermediate_directory, 'trigram_bow_corpus_all.mm')

In [44]:
def trigram_bow_generator(filepath):
    """
    generator function to read reviews from a file
    and yield a bag-of-words representation
    """
    
    for review in LineSentence(filepath):
        yield trigram_dictionary.doc2bow(review)

In [45]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to build the bag-of-words corpus yourself.
if 1 == 1:

    # generate bag-of-words representations for
    # all reviews and save them as a matrix
    MmCorpus.serialize(trigram_bow_filepath,
                       trigram_bow_generator(trigram_reviews_filepath))
    
# load the finished bag-of-words corpus from disk
trigram_bow_corpus = MmCorpus(trigram_bow_filepath)

CPU times: user 1.35 ms, sys: 2.5 ms, total: 3.85 ms
Wall time: 2.21 ms

In [46]:
lda_model_filepath = os.path.join(intermediate_directory, 'lda_model_all')
lda_model_filepath

'../data/lda_model_all'

In [47]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to train the LDA model yourself.
if 1 == 1:

    with warnings.catch_warnings():
        warnings.simplefilter('ignore')
        
        lda = LdaMulticore(trigram_bow_corpus,
                           num_topics=50,
                           id2word=trigram_dictionary,
                           workers=3) # set to your number of physical cores minus one
    
    lda.save(lda_model_filepath)
    
# load the finished LDA model from disk
lda = LdaMulticore.load(lda_model_filepath)

ValueError: cannot compute LDA over an empty collection (no terms)